<div class="policy-wrp container pt-5" id="top">
    <div class="card">
        <div class="card-body">
            <h1 class="page-main-title">COOKIES POLICY</h1><br />
            <h6> Version number: [Give the document a version number.]</h6>
            <h6> Effective date: [Insert the date when the document takes effect.]</h6><br />
            <ul>
                <li><b>1.</b> We and/or other companies use cookies and other tracking technologies on our website. A
                    cookie is
                    an identifier (a small file of letters and numbers) that is sent to your web browser. Cookies are
                    widely used to make websites work, or
                    work more efficiently, as well as to provide information to the website owner or others. Some are
                    session temporary “session” cookies that remain in the cookie file of your browser only until your
                    browser is closed. Whereas persistent
                    cookies stay for longer (depending on the lifetime of the specific cookie). For further information
                    on cookies, including how to use your browser to block them and how to delete existing cookies,
                    visit: <a href="http://allaboutcookies.org/">www.allaboutcookies.org</a>.
                    Our site’s functionality will be limited if you configure your browser to reject cookies.</li>
            </ul>
            <ul>
                <li><b>2.</b> We ourselves may place the following types of cookies:</li><br />
                <li>
                    <table class="table">
                        <tr>
                            <th>Type of cookies</th>
                            <th>Purpose</th>
                        </tr>
                        <tr>
                            <td>Logged-in status</td>
                            <td>Assess whether you are logged in to our site</td>
                        </tr>
                        <tr>
                            <td>“Remember me”</td>
                            <td>Remember you and speed up your login when you return to our site</td>
                        </tr>
                        <tr>
                            <td>Authentication</td>
                            <td>Identify and authenticate you to help you move easily through the site </td>
                        </tr>
                        <tr>
                            <td>Shopping cart</td>
                            <td>Remember contents of your cart and related preferences</td>
                        </tr>
                        <tr>
                            <td>Security</td>
                            <td>Provide security-related features to protect our site, for example to help stop
                                fraudulent logins</td>
                        </tr>
                        <tr>
                            <td>Cookie notice</td>
                            <td>Store your response to our cookie notice</td>
                        </tr>
                    </table>
                </li>
            </ul>
            <ul>
                <li><b>3.</b> Companies which provide us with a service also place cookies. Some of these cookies (e.g.
                    from
                    Google) may involve certain information, such as your name and contact details and/or the IP and web
                    address of the page you’re visiting,
                    being sent to the company concerned. Below is a summary of the kinds of cookies used together with
                    details about who places them and where you can go to get more information and to opt out (where
                    possible):</li><br />
                <h6>• Analytics cookies:</h6>
                <li>These kinds of cookies recognise and count the number of website visitors as well as providing other
                    information about the visit such as duration, route through the website and where the visitor came
                    from. This information helps us to
                    improve the way our website works, for example by making sure users find what they need easily.
                    These cookies are provided by:
                    <ul>
                        <li>Google Analytics (“GA”). More information:</li>
                        <li class="list">- Google’s <a
                                href="https://support.google.com/analytics/answer/2838718?hl=en">overview of GA data
                                practices and safeguarding</a></li>
                        <li class="list">- how to specifically <a href="https://tools.google.com/dlpage/gaoptout">opt
                                out from GA cookies</a></li>
                        <li class="list">- Google’s <a
                                href="https://policies.google.com/technologies/partner-sites?hl=en-US">use of its
                                partners’ data</a></li>
                    </ul>
                </li><br />
                <h6>• Advertising cookies:</h6>
                <li>These kinds of cookies are typically used to personalise ads on this or other sites based on your
                    use of our site, to measure ad effectiveness (for example, how often you click on or view ads and
                    whether you go on to buy something from
                    the advertiser) and to stop you being shown the same ad repeatedly. These cookies are provided by:
                    <ul>
                        <li>Google (including Analytics Ad Features / AdSense / Doubleclick)</li>
                        <li class="list">- how Google <a
                                href="https://policies.google.com/technologies/ads?hl=en-GB">uses cookies and other
                                technologies in advertising</a> including how to opt out of advertising cookies (this
                            explains how ad personalisation works)</li>
                        <li class="list">- Google’s <a
                                href="https://policies.google.com/technologies/partner-sites?hl=en-US">use of its
                                partners’ data</a></li>
                    </ul>
                    <ul>
                        <li>Facebook (including “Facebook Pixel”)</li>
                        <li class="list">- Facebook’s <a href="https://www.facebook.com/policies/cookies">cookies
                                policy</a> (see especially under “Advertising, recommendations, insights and
                            measurement”) including how to control Facebook’s use of cookies</li>
                        <li class="list">- Facebook’s <a href="https://www.facebook.com/policy.php">privacy policy</a>
                        </li>
                    </ul>
                    Note that there are various places where you can go to opt out of many companies’ advertising
                    cookies in one go including some or all of the above:
                    <ul>
                        <li class="list">- <a
                                href="https://optout.networkadvertising.org/?c=1">www.networkadvertising.org/choices</a>
                        </li>
                        <li class="list">- <a
                                href="https://www.youronlinechoices.com/">http://www.youronlinechoices.com/</a></li>
                        <li class="list">- <a
                                href="https://optout.aboutads.info/?c=2&lang=EN">http://optout.aboutads.info </a></li>
                    </ul>
                </li>
                <br />
                <h6>• Social media cookies: </h6>
                <li>These kinds of cookies are placed by social media companies when you use their features on another
                    site, for example if you play embedded audio or video, click a Facebook “like” or send a tweet.
                    These features may involve the relevant
                    companies using cookies to collect information relating to your visit to our website or your
                    interaction with their services or otherwise. Click the following links for further information
                    including how to opt out where this is possible:
                    <a
                        href="https://www.facebook.com/campaign/landing.php?&campaign_id=973072061&extra_1=s%7Cc%7C231346502318%7Ce%7Cfacebook%7C&placement=&creative=231346502318&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D973072061%26adgroupid%3D54006406691%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-297690534863%26loc_physical_ms%3D9061748%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMI6af0g4Tk7gIVjiErCh30EQn1EAAYASAAEgKRYvD_BwE">Facebook</a>,
                    <a href="https://twitter.com/?lang=en">Twitter</a>,
                    <a href="https://myaccount.google.com/intro/profile">Google Plus</a>,
                    <a href="https://in.linkedin.com/">LinkedIn</a>,
                    <a href="https://www.instagram.com/">Instagram</a>.
                </li>
                <br />
                <h6>• Payment provider cookies: </h6>
                <li>Our payment provider may place cookies if you use their payment services on our site:
                    <ul>
                        <li class="list">- Paypal’s <a
                                href="https://www.paypal.com/in/webapps/mpp/ua/privacy-full">privacy policy</a></li>
                        <li class="list">- Stripe’s <a href="https://stripe.com/en-in/privacy">privacy policy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>