.page-main-title {
    color: #272b41;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.page-sub-title {
    font-size: 18px;
    color: #368283;
}

.policy-wrp ul>li {
    list-style: none;
    font-size: 14px;
    padding-bottom: 10px;
}

.policy-wrp ul>li>ul>li {
    list-style: disc;
}

p {
    font-size: 16px;
}

a {
    color: #007bff;
    text-decoration: underline;
}

a:hover {
    color: #61e0c6;
    cursor: pointer;
}

.table td:nth-child(1), .table th:nth-child(1) {
    width: 30%;
}

.table td:nth-child(2), .table th:nth-child(2) {
    width: 70%;
}

.list {
    list-style: none !important;
}