.flag {
    padding: 6px 11px 6px !important;
}

.flag img {
    width: 23px;
    height: auto;
    margin-right: 5px;
}

.head-control {
    width: 20%;
    float: left;
}

.head-control .form-control {
    height: 35px !important;
}

.email-control {
    width: 80%;
    float: right;
}

.invalid-feedback {
    padding-left: 85px;
}

.Patient {
    padding-bottom: 30px;
}