<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Login Tab Content -->
                <div class="account-content Patient">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid-login" alt="Doccure Login">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right-table">
                            <div class="login-header">
                                <h3>Patient Login<a [routerLink]="['/account/service-provider-login']">Are you a Service
                                        Provider?</a></h3>
                            </div>
                            <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <span class="input-group">
                                        <span class="flag patientlogin-flag"
                                            style="border: 1px solid;border-color: #dcdcdc;" disabled>
                                            <img src="assets/img/london.jpg" alt="img" />
                                            <span class="pre-number">+44</span>
                                        </span>
                                        <input type="text" class="form-control floating" placeholder="Mobile No"
                                            maxlength="10" (keypress)="numberOnly($event)" formControlName="PhoneNumber"
                                            [ngClass]="{ 'is-invalid': f.PhoneNumber.touched && f.PhoneNumber.errors }">
                                        <div *ngIf="f.PhoneNumber.touched && f.PhoneNumber.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required</div>
                                            <div *ngIf="f.PhoneNumber.errors.minlength">Phone Number must be at least 10
                                                characters</div>
                                        </div>
                                    </span>
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <a>
                                    <button class="btn btn-primary btn-block btn-lg login-btn box" type="submit"
                                        [disabled]="!patientForm.valid">Continue</button>
                                </a>
                                <div class="text-center dont-have"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Login Tab Content -->
            </div>
        </div>
    </div>
</div>