<div class="content abc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Login Tab Content -->
                <div class="account-content Patient">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Login">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Service Provider Login <a [routerLink]="[ '/account/patient-login']">Not a Service
                                        Provider?</a>
                                </h3>
                            </div>
                            <form class="form-horizontal" [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" formControlName="EmailAddress" [ngClass]="{ 'is-invalid': f.EmailAddress.touched && f.EmailAddress.errors }" />
                                    <div *ngIf="f.EmailAddress.touched && f.EmailAddress.errors" class="invalid-feedback">
                                        <div *ngIf="f.EmailAddress.errors.required">Email is required</div>
                                        <div *ngIf="f.EmailAddress.errors.pattern">Email must be a valid email address
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" formControlName="Password" [ngClass]="{ 'is-invalid': f.Password.touched && f.Password.errors }" />
                                    <div *ngIf="f.Password.touched && f.Password.errors" class="invalid-feedback">
                                        <div *ngIf="f.Password.errors.required">Password is required</div>
                                        <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block btn-lg login-btn box" [disabled]="!doctorForm.valid">Login</button>
                                <div class="login-or">
                                    <span class="or-line"></span>
                                    <span class="span-or">or</span>
                                </div>
                                <div class="text-center dont-have">Don’t have an account? <a [routerLink]="['/service-provider/register']">Register</a></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Login Tab Content -->
            </div>
        </div>
    </div>
</div>