<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        </h4>
                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/Home Visit</li>
                        </h4>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <!-- <app-doctor-sidebar></app-doctor-sidebar> -->
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="appointments">

                    <!-- Appointment List -->
                    <div class="appointment-list">
                        <div class="profile-info-widget">
                            <a href="patient-profile.html" class="booking-doc-img">
                                <img src="assets/img/imagenotfound.png" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3><a href="patient-profile.html">Richard Wilson</a></h3>
                                <div class="patient-details">
                                    <h5><i class="far fa-clock"></i> 14 Nov 2019, 10.00 AM</h5>
                                    <h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
                                    <h5><i class="fas fa-envelope"></i> richard@example.com</h5>
                                    <h5 class="mb-0"><i class="fas fa-phone"></i> +1 923 782 4575</h5>
                                </div>
                            </div>
                        </div>
                        <div class="appointment-action">
                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                <i class="fas fa-check"></i> Accept
                            </a>
                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </div>
                    <!-- /Appointment List -->
                </div>
            </div>
        </div>
    </div>
</div>