<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a href="home">Home&nbsp;</a></li>
                        </h4>
                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/&nbsp;Profile Settings</li>
                        </h4>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3">

            </div>
            <!-- /Profile Sidebar -->
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">

                        <!-- Profile Settings Form -->
                        <form [formGroup]="patientprofileForm" (ngSubmit)="onSubmit()">
                            <div class="row form-row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <div class="change-avatar">
                                            <div class="profile-img" *ngIf="Display_Image != null">
                                                <img [src]="Display_Image">
                                            </div>
                                            <div class="profile-img" *ngIf="Display_Image == null">
                                                <img src="assets/img/imagenotfound.png" alt="User Image" width="100%">
                                            </div>
                                            <div class="upload-img" *ngIf="Display_Image == null">
                                                <div class="change-photo-btn">
                                                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                    <input type="file" class="upload" #attachments
                                                        accept="image/jpeg, image/png, image/jpg,"
                                                        (change)="onSelectImagePathFile($event,'ProfilePicPath')"
                                                        formControlName="ProfilePic">
                                                </div>
                                                <small class="form-text text-muted">Allowed JPG, PNG or PDF. Max size of
                                                    2MB</small>
                                            </div>
                                            <div class="upload-img" *ngIf="Display_Image != null">
                                                <div class="change-photo-btn change-remove-btn">
                                                    <span><i class="fas fa-file-invoice"></i> Change Photo </span>
                                                    <input type="file" class="upload"
                                                        accept="image/jpeg, image/png, image/jpg,"
                                                        (change)="onSelectImagePathFile($event,'ProfilePicPath')">
                                                </div>
                                            </div>&nbsp;&nbsp;
                                            <span *ngIf="Display_Image != null">
                                                <button class="btn btn-danger warning"
                                                    (click)="removeSelectedFile('ProfilePicPath')"><i
                                                        class="far fa-trash-alt"></i> Remove Photo </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Frist Name"
                                            formControlName="FirstName"
                                            [ngClass]="{ 'is-invalid': f.FirstName.touched && f.FirstName.errors }">
                                        <div *ngIf="f.FirstName.touched && f.FirstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.FirstName.errors.required">First name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name"
                                            formControlName="LastName"
                                            [ngClass]="{ 'is-invalid': f.LastName.touched && f.LastName.errors }">
                                        <div *ngIf="f.LastName.touched && f.LastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.LastName.errors.required">Last name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Email ID</label>
                                        <input type="email" class="form-control" placeholder="Email"
                                            formControlName="EmailAddress"
                                            [ngClass]="{ 'is-invalid': f.EmailAddress.touched && f.EmailAddress.errors }">
                                        <div *ngIf="f.EmailAddress.touched && f.EmailAddress.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.EmailAddress.errors.required">Email is required</div>
                                            <div *ngIf="f.EmailAddress.errors.pattern">Email must be a valid email
                                                address</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control PlaceHolderColor"
                                            formControlName="dateofbirth"
                                            [ngClass]="{ 'is-invalid': f.dateofbirth.touched && f.dateofbirth.errors }">
                                        <div *ngIf="f.dateofbirth.touched && f.dateofbirth.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.dateofbirth.errors.required">Date of birth is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control select PlaceHolderColor" formControlName="City"
                                            [ngClass]="{ 'is-invalid': f.City.touched && f.City.errors }">
                                            <option value="" disabled selected>Select City</option>
                                            <option>Amreli</option>
                                            <option>Ahmedabad</option>
                                        </select>
                                        <div *ngIf="f.City.touched && f.City.errors" class="invalid-feedback">
                                            <div *ngIf="f.City.errors.required">City is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input type="text" class="form-control" placeholder="Mobile Number"
                                            maxlength="10" (keypress)="numberOnly($event)" formControlName="PhoneNumber"
                                            [ngClass]="{ 'is-invalid': f.PhoneNumber.touched && f.PhoneNumber.errors }">
                                        <div *ngIf="f.PhoneNumber.touched && f.PhoneNumber.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required</div>
                                            <div *ngIf="f.PhoneNumber.errors.minlength">Phone Number must be at least 10
                                                characters</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <input type="text" class="form-control" placeholder="Zip Code"
                                            formControlName="ZipCode"
                                            [ngClass]="{ 'is-invalid': f.ZipCode.touched && f.ZipCode.errors }">
                                        <div *ngIf="f.ZipCode.touched && f.ZipCode.errors" class="invalid-feedback">
                                            <div *ngIf="f.ZipCode.errors.required">ZipCode is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn"
                                    [disabled]="!patientprofileForm.valid">Save Changes</button>
                            </div>
                        </form>
                        <!-- /Profile Settings Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->