.Footer-hover a {
    color: #fff;
    }
    
    .Footer-hover a:hover {
    color: #61e0c6;
    }
    
    .Footer-hover a b:hover {
    letter-spacing: 1px;
    padding-left: 15px;
    transition: all 0.4s ease 0s;
    }
    
    .policy-menu li a:hover,
    .policy-menu li a:focus {
        color: #fff;
    }
    
    ul.policy-menu {
        display: flex;
        justify-content: flex-end;
        background-color: #000;
        position: relative;
    }
    
    .policy-menu li:nth-child(1) {
        position: absolute;
        right: 120px;
        top: 0;
        transition: all 0.3s linear;
    }
    
    .policy-menu li:nth-child(1):hover {
        right: 110px;
    }
    
    .policy-menu li:nth-child(2) {
        position: absolute;
        right: 40px;
        top: 0;
        transition: all 0.3s linear;
    }
    
    .policy-menu li:nth-child(2):hover {
        right: 30px;
    }
    
    .policy-menu::after {
        color: #fff;
        content: "|";
        position: absolute;
        top: 0;
        right: 95px;
    }
    
    .policy-menu li::after {
        display: none;
    }
    
    .policy-menu>li:hover>a {
        color: #61e0c6;
    }
    
    .policy {
        display: flex;
        justify-content: space-evenly;
    }
    
    .policy li {
        list-style: none;
        color: #fff;
    }
    
    .policy a {
        color: #fff;
    }
    
    .policy>li:hover>a {
        color: #61e0c6;
    }

    .provider-hover>li a:hover {
        color: #61e0c6;
    }
	.footer-logo img {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding: 1px;
		border: 3px solid #fff;
		border-radius: 10px;
		height: 120px;
	}
	.footer .footer-widget .footer-logo {
		margin-bottom: 30px;
	}