<!-- Footer -->
<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/footer_logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Follow us on Facebook, Instagram, Twitter and LinkedIn for the latest news and service
                                updates. </p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul class="provider-hover">
                            <li><a [routerLink]="['/account/patient-login']">Login</a></li>
                            <li><a [routerLink]="['/book-home-visit/service-provider-list']">Book a Home Visit</a></li>
                            <li><a [routerLink]="['/book-home-visit/service-provider-list']">Search for Service
                                    Provider</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Service Provider</h2>
                        <ul class="provider-hover">
                            <li><a [routerLink]="[ '/account/service-provider-login']">Login</a></li>
                            <li><a [routerLink]="[ '/service-provider/register']">Register</a></li>
                            <li><a [routerLink]="['/book-home-visit/service-provider-list']">Home Visits</a></li>
                        </ul>
                    </div>

                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <p class="mb-0 Footer-hover">
                                <a href="mailTo:info@icarequick.com?subject=enquiry"><i
                                        class="fas fa-envelope"></i><b>info@icarequick.com</b></a>
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-8">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2021 I Care Quick. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy">
                                <li><a [routerLink]="[ '/terms-condition']">Terms and Conditions</a> | </li>
                                <li><a [routerLink]="[ '/privacy-policy']">Privacy Policy</a> | </li>
                                <li><a [routerLink]="[ '/cookies-policy']">Cookies Policy</a></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->
                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->