<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Change Password</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <!-- Profile Sidebar -->
                <!-- <app-doctor-sidebar></app-doctor-sidebar> -->
                <!-- /Profile Sidebar -->
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <!-- Change Password Form -->
                                <form [formGroup]="ResetForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control"
                                                [type]="fieldTextTypeOld ? 'text' : 'password'"
                                                [ngClass]="{ 'is-invalid': f.OldPassword.touched && f.OldPassword.errors }"
                                                formControlName="OldPassword" id="OldPassword">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-eye-slash"
                                                        [ngClass]="{'fa-eye-slash': !fieldTextTypeOld,'fa-eye': fieldTextTypeOld }"
                                                        (click)="toggleFieldTextTypeOld()"></i>
                                                </span>
                                            </div>
                                            <div *ngIf="f.OldPassword.touched && f.OldPassword.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.OldPassword.errors.required">Old Password is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control"
                                                [type]="fieldTextTypeNew ? 'text' : 'password'"
                                                [ngClass]="{ 'is-invalid': f.NewPassword.touched && f.NewPassword.errors }"
                                                formControlName="NewPassword" id="NewPassword">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-eye-slash"
                                                        [ngClass]="{'fa-eye-slash': !fieldTextTypeNew,'fa-eye': fieldTextTypeNew }"
                                                        (click)="toggleFieldTextTypeNew()"></i>
                                                </span>
                                            </div>
                                            <div *ngIf="f.NewPassword.touched && f.NewPassword.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.NewPassword.errors?.required">New Password is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control"
                                                [type]="fieldTextTypeNewConfirm ? 'text' : 'password'"
                                                [ngClass]="{ 'is-invalid': f.ConfirmPassword.touched && f.ConfirmPassword.errors }"
                                                formControlName="ConfirmPassword" id="ConfirmPassword">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-eye-slash"
                                                        [ngClass]="{'fa-eye-slash': !fieldTextTypeNewConfirm,'fa-eye': fieldTextTypeNewConfirm }"
                                                        (click)="toggleFieldTextTypeConfirm()"></i>
                                                </span>
                                            </div>
                                            <div *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is
                                                    required</div>
                                                <div *ngIf="f.ConfirmPassword.errors?.mustMatch">Passwords must match
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn"
                                            [disabled]="!ResetForm.valid">Save Changes</button>
                                    </div>
                                </form>
                                <!-- /Change Password Form -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->