<!-- Breadcrumb -->
<div class="breadcrumb-bar" *ngIf="rout =='/contact-us'">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home&nbsp;</a></li>
                        </h4>
                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/&nbsp;Contact-Us</li>
                        </h4>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<div class="contact3 py-5">
    <div class="row no-gutters">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-shadow">
                        <div class="blog-image">
                            <img src="assets/img/banner/8.jpg" alt="Feature Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 conatct-image">
                    <div class="contact-box ml-3">
                        <h3>Say Something</h3>
                        <form class="mt-4" [formGroup]="contactusForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <input type="text" class="form-control" placeholder="Name"
                                            formControlName="Name"
                                            [ngClass]="{ 'is-invalid': f.Name.touched && f.Name.errors }">
                                        <div *ngIf="f.Name.touched && f.Name.errors" class="invalid-feedback">
                                            <div *ngIf="f.Name.errors.required"> Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <input type="text" class="form-control" placeholder="Email"
                                            formControlName="EmailAddress"
                                            [ngClass]="{ 'is-invalid': f.EmailAddress.touched && f.EmailAddress.errors }">
                                        <div *ngIf="f.EmailAddress.touched && f.EmailAddress.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.EmailAddress.errors.required">Email is required</div>
                                            <div *ngIf="f.EmailAddress.errors.pattern">Email must be a valid email
                                                address</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <textarea class="form-control" rows="6" placeholder="Enter Message..."
                                            formControlName="Message"
                                            [ngClass]="{ 'is-invalid': f.Message.touched && f.Message.errors }"></textarea>
                                        <div *ngIf="f.Message.touched && f.Message.errors" class="invalid-feedback">
                                            <div *ngIf="f.Message.errors.required"> Message is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary view-inv-btn-contact box"
                                        [disabled]="!contactusForm.valid">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 contact-text">
                    <div class="card mt-4 border-0 mb-4">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="card-body d-flex align-items-center c-detail pl-0">
                                    <div class="mr-3 align-self-center">
                                    </div>
                                    <div class="">
                                        <h5><b>Get In Touch</b></h5>
                                        <p class="has-submenu-contact">For any further information please contact us on:
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5-contact col-md-5-contact">
                                <div class="card-body d-flex align-items-center c-detail">
                                    <div class="mr-3 align-self-center">
                                        <img
                                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                                    </div>
                                    <div class="">
                                        <i class="far fa-envelope"></i><a href="mailto:info@icarequick.com"><b
                                                class="pading-left"> info@icarequick.com </b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>