<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home&nbsp;</a></li>
                        </h4>
                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/&nbsp;About us</li>
                        </h4>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="div-home cust-home-wrp bennar-service">
    <img src="assets/img/banner/3.jpg" class="img-fluid">
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <h3 class="section-title section-title-border-half about-title">The Company</h3>
                <p class="sub-title"><b>I Care Quick (ICQ)</b> is the first UK based multi-professional private
                    healthcare company. We aim to connect you with the best healthcare professionals in your area to
                    meet your needs. We are the first company to integrate services from Physiotherapists,
                    Chiropractors, Osteopaths, Massage Therapists and Personal Trainers. We believe by combining all the
                    different professionals together, we will be able to meet all of your demands.
                </p>
            </div>
        </div>
        <hr class="hr-about">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <h3 class="section-title section-title-border-half">“You choose, we deliver!”</h3>
                <p class="sub-title">You get to choose which services you require based on your needs and we will
                    connect you to all available healthcare professionals in your area.
                </p>
            </div>
        </div>
        <hr class="hr-about">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <h3 class="section-title section-title-border-half">Innovation </h3>
                <p class="sub-title">Due to time constraints and transportation difficulties faced in daily lives, we
                    have decided to develop a service that works around you. With ICQ, it is possible to either schedule
                    a home visit in the future or book an instant on demand home visit from a list of on-demand
                    professionals.
                </p>
            </div>
        </div>
        <hr class="hr-about">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <h3 class="section-title section-title-border-half">Aim</h3>
                <p class="sub-title">Our goal is to make your life easier by connecting you to the best service
                    providers in your area, all at the comfort of your own home. Our healthcare professionals are one
                    click away!
                </p>
            </div>
        </div>
        <hr class="hr-about">
        <!-- class="hrchange" -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <p>
                    Feel free to email our team for further information on <a
                        href="mailTo:info@icarequick.com?subject=enquiry"><b>info@icarequick.com</b></a>.
                </p>
            </div>
        </div>
    </div>

</section>