.section-title-sm {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #666;
}

p, .paragraph {
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.patientli {
    padding-right: 5px !important;
}

.body-margin {
    margin-left: 10px;
}