<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a [routerLink]="['/index']">Home&nbsp;</a></li>
                        </h4>
                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/&nbsp;How it Works For Service Users
                            </li>
                        </h4>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<section class="div-home cust-home-wrp bennar-service">
    <img src="assets/img/banner/4.jpg" class="img-fluid">
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <h3 class="section-title section-title-border-half about-padding">It Is Really Simple!</h3>
                <p class="sub-title">We offer you the flexibility to either book a future appointment with all the
                    different service providers available or book an instant appointment if you need an appointment
                    right away.
                </p>
                <hr>
                <p class="sub-title">We also offer our service providers the flexibility to choose the length of the
                    treatment session as well as their own rates.
                </p>
                <hr>
                <p class="sub-title">You can book a future appointment using either the ICQ App or through our website
                    login.
                </p>
                <div class="panel-group zoom zoom-box" id="accordionSingleOpen" role="tablist"
                    aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapseItemOpenOne"
                                    aria-expanded="false" aria-controls="collapseItemOpenOne" class="collapsed">
                                    <b class="marginhover">To book a future appointment, here is what you need to
                                        do:</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseItemOpenOne" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingOne" class="panel-collapse in collapse">
                            <div class="panel-body-col body-margin"><br>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Create an account and profile
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Login to your account
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Select the service that you require
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Select the date and time
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Choose a healthcare professional from the
                                    list of available service providers
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Confirm the appointment date, time and
                                    location
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Payment
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> If for any reason the service provider is
                                    no longer able to attend the agreed appointment date and time, you will be informed
                                    about their decision instantly and you will receive a full refund of your money.
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> If you decide that you no longer require an
                                    appointment and decided to cancel it, a cancellation admin fee might be deducted
                                    from your refund.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group zoom zoom-box" id="accordionSingleOpen" role="tablist"
                    aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapseItemOpenTwo"
                                    aria-expanded="false" aria-controls="collapseItemOpenTwo" class="collapsed">
                                    <b class="marginhover over">To book an instant appointment, here is what you need to
                                        do:</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseItemOpenTwo" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingTwo">
                            <div class="panel-body-col body-margin"><br>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Create/login to your account
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Select the service that you require and
                                    click request
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Choose from the list of service providers
                                    who have accepted your request
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Payment
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> Once an instant booking has been confirmed,
                                    you are no longer able to cancel the appointment and cannot expect a refund of your
                                    money.
                                </p>
                                <hr>
                                <p class="sub-title">
                                    <i class="fa fa-arrow-circle-right"></i> If for any reason, the service provider is
                                    unable to attend your appointment, you will receive a full refund of your money.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <p>
                    Feel free to email our team for further information on <a
                        href="mailTo:info@icarequick.com?subject=enquiry"><b>info@icarequick.com</b></a>.
                </p>
            </div>
        </div>
    </div>

</section>