<router-outlet></router-outlet>

<!-- Profile Sidebar -->

<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar sidebar-position">
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <div class="booking-doc-img">
                    <img src="assets/img/imagenotfound.png" height="50">
                </div>
                <div class="profile-det-info">
                    <h3>Service Provider</h3>
                    <div class="patient-details">
                        <h5 class="mb-0">Category Name</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li routerLinkActive='active'>
                        <a [routerLink]="['/service-provider-profile/service-provider-dashboard']">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a [routerLink]="['/service-provider-profile/service-provider-review']">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a [routerLink]="['/service-provider-profile/service-provider-home-visit']">
                            <i class="fas fa-calendar-check"></i>
                            <span>Home Visit</span>
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a [routerLink]="['/service-provider-profile/service-provider-profilesetting']">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a [routerLink]="['/service-provider-profile/service-provider-change-password']">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home']">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- /Profile Sidebar -->