.justify-content-center {
    padding-bottom: 30px;
}
.login-right-otp {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 51px 25px;
}
.resend{
    color: #09dca4;
    font-size: large;
}