<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Login Tab Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Login">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right-otp">
                            <form [formGroup]="patientOTPForm" (ngSubmit)="onSubmit()">
                                <a [routerLink]="[ '/account/patient-login']"> <i class="fa fa-arrow-left"
                                        aria-hidden="true"></i></a>
                                <h3 style="text-align: center;">Enter OTP</h3>
                                <p style="text-align: center;"> OTP sent on 1234567890
                                </p>
                                <div class="form-group">
                                    <input type="text" class="form-control floating" placeholder="Enter OTP"
                                        formControlName="OTPNumber"
                                        [ngClass]="{ 'is-invalid': f.OTPNumber.touched && f.OTPNumber.errors }" />
                                    <div *ngIf="f.OTPNumber.touched && f.OTPNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.OTPNumber.errors.required">OTP is required</div>
                                    </div>
                                </div>
                                <div class="text-center dont-have">
                                    <a class="pointer resend">Resend OTP</a>
                                </div>
                                <a>
                                    <button class="btn btn-primary btn-block btn-lg login-btn" type="submit"
                                        [disabled]="!patientOTPForm.valid" (click)="verifyOTP()">
                                        Login
                                    </button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Login Tab Content -->
            </div>
        </div>
    </div>
</div>