<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a href="home">Home&nbsp;</a></li>
                        </h4>
                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/&nbsp;Booking</li>
                        </h4>
                    </ol>
                </nav>
                <!-- <h2 class="breadcrumb-title">Booking</h2> -->
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-12 col-sm-4 col-md-6">
                            <div class="booking-doc-info">
                                <a href="doctor-profile.html" class="booking-doc-img">
                                    <img src="assets/img/imagenotfound.png" class="img-fluid" alt="User Image">
                                </a>
                                <div class="doc-info-cont">
                                    <h4 class="doc-name">Dr. Darren Elder</h4>
                                    <!-- <p class="doc-speciality">BDS, MDS - Oral & Maxillofacial Surgery</p> -->
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">(35)</span>
                                    </div>
                                    <p class="text-muted mb-0"><i class="fas fa-user-plus"></i> Category Name</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-12 col-sm-4 col-md-5">
                            <label class="col-sm-12">Select Date</label>
                            <div class="col-sm-12">
                                <div class="btn cust-week-pikker btn-white btn-sm col-sm-12">
                                    <label id="inp"></label>
                                    <input type="week" id="week" />
                                </div>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <label>Timing Slot Duration</label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="" disabled selected>Select</option>
                                        <option>30 min</option>
                                        <option>01 hour</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-6">
                        <!-- <h4 class="mb-1">{{ editable.value | date:'fullDate' }}</h4> -->
                    </div>
                    <div class="col-md-6 text-lg-right">
                    </div>
                </div>
                <div class="form-group mb-0">
                </div>
                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">

                    <!-- Schedule Header -->
                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Day Slot -->
                                <div class="day-slot">
                                    <ul>
                                        <li class="left-arrow">
                                            <a href="#">
                                                <i class="fa fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <span>Mon</span>
                                            <span class="slot-date">11 Nov <small class="slot-year">2019</small></span>
                                        </li>
                                        <li>
                                            <span>Tue</span>
                                            <span class="slot-date">12 Nov <small class="slot-year">2019</small></span>
                                        </li>
                                        <li>
                                            <span>Wed</span>
                                            <span class="slot-date">13 Nov <small class="slot-year">2019</small></span>
                                        </li>
                                        <li>
                                            <span>Thu</span>
                                            <span class="slot-date">14 Nov <small class="slot-year">2019</small></span>
                                        </li>
                                        <li>
                                            <span>Fri</span>
                                            <span class="slot-date">15 Nov <small class="slot-year">2019</small></span>
                                        </li>
                                        <li>
                                            <span>Sat</span>
                                            <span class="slot-date">16 Nov <small class="slot-year">2019</small></span>
                                        </li>
                                        <li>
                                            <span>Sun</span>
                                            <span class="slot-date">17 Nov <small class="slot-year">2019</small></span>
                                        </li>
                                        <li class="right-arrow">
                                            <a href="#">
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Day Slot -->
                            </div>
                        </div>
                    </div>

                    <!-- /Schedule Header -->

                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Time Slot -->
                                <div class="time-slot">
                                    <ul class="clearfix">
                                        <li>
                                            <a class="timing" href="#">
                                                <span>9:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>10:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>11:00</span> <span>AM</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="timing" href="#">
                                                <span>9:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>10:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>11:00</span> <span>AM</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="timing" href="#">
                                                <span>9:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>10:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>11:00</span> <span>AM</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="timing" href="#">
                                                <span>9:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>10:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>11:00</span> <span>AM</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="timing" href="#">
                                                <span>9:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing selected" href="#">
                                                <span>10:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>11:00</span> <span>AM</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="timing" href="#">
                                                <span>9:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>10:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>11:00</span> <span>AM</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="timing" href="#">
                                                <span>9:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>10:00</span> <span>AM</span>
                                            </a>
                                            <a class="timing" href="#">
                                                <span>11:00</span> <span>AM</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Time Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Content -->

                </div>
                <!-- /Schedule Widget -->

                <!-- Submit Section -->
                <div>
                    <div class="submit-section back-btn">
                        <a class="btn btn-primary submit-btn box"
                            [routerLink]="['/book-home-visit/service-provider-list']">Back</a>
                    </div>
                    <div class="submit-section proceed-btn text-right back-up">
                        <a class="btn btn-primary submit-btn box"
                            [routerLink]="['/book-home-visit/home-visit-proceedtopay']">Proceed to Pay</a>
                    </div>
                </div>
                <!-- /Submit Section -->

            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->