.btn-white {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #272b41;
    padding-top: 6px;
    padding-bottom: 6px;
}

.submit-section.back-btn {
    margin-left: 800px;
}

.back-up {
    margin-top: -50px;
}
