.rating-rating {
    list-style: none;
    margin: 0px -770px 7px;
    padding: 0;
    width: 100%;
    color: #f4c150
}


/* ------@ media start ---------- */

@media only screen and (max-device-width: 1024px) {
    .review-listing>ul li .comment .comment-body .meta-data .review-count {
        right: 160px;
    }
}

@media only screen and (max-device-width: 992px) {
    .conatct-image {
        padding-top: 70px;
    }
    .review-listing>ul li .comment .comment-body .meta-data .review-count {
        right: 320px;
    }
}

@media only screen and (max-device-width: 767px) {
    .review-listing>ul li .comment .comment-body .meta-data .review-count {
        position: static !important;
        margin: 0 !important;
    }
}

.check-margin {
    margin-right: 5px;
}