<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a [routerLink]="['/index']">Home&nbsp;</a></li>
                        </h4>

                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/&nbsp;How it Works For Service
                                Providers</li>
                        </h4>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<section class="div-home cust-home-wrp bennar-service">
    <img src="assets/img/banner/5.jpg" class="img-fluid">
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right serviceprovider"></i> <b> You have the flexibility of choosing
                        your own working
                        days and times</b>
                </p>
                <hr>
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right"></i> <b> You have the freedom to accept/reject requests from
                        clients for your services</b>

                </p>
                <hr>
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right"></i> <b> You have the freedom to select your own charging rates
                        per session</b>
                </p>
                <hr>
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right"></i><b> You will have your own personal dashboard to update for
                        clients</b>
                </p>
                <hr>
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right"></i><b> You will have the freedom to work any time of the day
                    </b>

                </p>
                <hr>
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right"></i><b> You will have an equal opportunity to everyone else once
                        you accept a request from a client </b>
                </p>
                <hr>
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right"></i> <b> You will have your own unique reference number to give
                        clients to help you build your caseload and provide follow up home visit</b>
                </p>
                <hr>
                <p class="sub-title">
                    <i class="fa fa-arrow-circle-right"></i><b> All of your bookings will be done for you via the ICQ
                        App/Dashboard</b>
                </p>
            </div>
        </div>
        <hr class="hrchange">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <!-- <h5 class="section-title-sm">Know About</h5> -->
                <p>
                    Feel free to email our team for further information on <a
                        href="mailTo:info@icarequick.com?subject=enquiry"><b>info@icarequick.com</b></a>.
                </p>
            </div>
        </div>
    </div>
</section>