<!-- Header -->
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="javascript:void(0);" class="navbar-brand logo">
                <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="javascript:void(0);" class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li>
                    <a routerLinkActive='active' class="pointer" [routerLink]="['/home']">Home</a>
                </li>
                <li class="has-submenu">
                    <a routerLinkActive='active' class="pointer" [routerLink]="['/about']">About-Us</a>
                </li>
                <li class="has-submenu">
                    <a class="pointer" routerLinkActive='active'>How It Works<i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a routerLinkActive='active' class="pointer" [routerLink]="['/for-service-user']">For
                                Service Users</a></li>
                        <li><a routerLinkActive='active' class="pointer" [routerLink]="['/for-service-provider']">For
                                Service Providers</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a routerLinkActive='active' [routerLink]="[ '/book-home-visit/service-provider-list']">Book A Home
                        Visit</a>
                </li>
                <li class="has-submenu">
                    <a routerLinkActive='active' class="pointer" [routerLink]="['/contact-us']">Contact-Us</a>
                </li>
                <li class="has-submenu">
                    <a routerLinkActive='active' [routerLink]="[ '/service-provider/register']">Become a Service
                        Provider</a>
                </li>

            </ul>
        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item">
                <a class="nav-link header-login" [routerLink]="['/account/patient-login']">login / Signup </a>

            </li>
            <!-- User Menu -->
            <!-- <li class="nav-item dropdown has-arrow logged-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" width="31"
                            alt="Darren Elder">
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"
                                class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>Darren Elder</h6>
                            <p class="text-muted mb-0">Doctor</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="doctor-dashboard.html">Dashboard</a>
                    <a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li> -->
            <!-- /User Menu -->
        </ul>
    </nav>
</header>
<!-- /Header -->