<div class="policy-wrp container pt-5" id="top">
    <div class="card">
        <div class="card-body">
            <h1 class="page-main-title">TERMS AND CONDITIONS</h1><br />

            <h6> Version number: [Give the document a version number.]</h6>
            <h6> Effective date: [Insert the date when the document takes effect.]</h6><br />
            <h2 class="page-sub-title">1. Who we are </h2>
            <ul>
                <li><b>1.1</b> We are Icarequick Ltd. Our company information is at the end of this document. </li>
            </ul>
            <h2 class="page-sub-title">2. What this is all about</h2>
            <ul>
                <li><b>2.1</b> These are our terms and conditions which apply to our Service (explained below). We’ve
                    tried to make them user-friendly. Please read them carefully and save a copy as we don’t file a copy
                    specifically for the transaction with you.
                    They’re available in English only. </li>
                <li><b>2.2</b> Where you communicate with us on behalf of a company / organisation, you promise that you
                    have authority to act on its behalf. </li>
            </ul>
            <h2 class="page-sub-title">3. Some definitions</h2>
            <ul>
                <li><b>3.1</b> Here are some definitions which are used in this document (all capitalised):
                    <ul>
                        <li>“App” – the “I Care Quick” mobile application.</li>
                        <li>“Consumer” - an individual acting for purposes which are wholly or mainly outside that
                            person’s trade, business, craft or profession.</li>
                        <li>“Content” - all information of whatever kind (including profiles, posts, comments, chat,
                            images, photos, audio, video, advertisements, messages, Reviews etc.), uploaded to our
                            Service (including messages sent via our Service).</li>
                        <li>“Customer” – a User who uses our Service for the purpose of using Healthcare Services.</li>
                        <li>“Healthcare Contract” – a contract for the supply of Healthcare Services.</li>
                        <li>“Healthcare Services” – healthcare-related services.</li>
                        <li>“Provider” – a User who uses our Service for the purpose of supplying Healthcare Services to
                            Customers.</li>
                        <li>“Review” - any review or rating.</li>
                        <li>“Service” – our website, our App and any related services.</li>
                        <li>“Store” – the app distributor from which you download the App (e.g. Apple App Store, Google
                            Play App Store).</li>
                        <li>“Store Rules” – any applicable rules, policies or terms of the relevant Store.</li>
                        <li>“User” - persons or organisations using our Service (whether or not registered with us).
                        </li>
                    </ul>
                </li>
            </ul>
            <h2 class="page-sub-title">4. ShouldHow you enter a legal contract with us </h2>
            <ul>
                <li><b>4.1</b> By registering on or using our website, you enter a legal contract with us to use our
                    platform. Alternatively, if you first download our App, you enter into a legal contract with us at
                    that point.</li>
                <li><b>4.2</b> NB: Your legal contract with us to use our platform is different from the Healthcare
                    Contract between Provider and Customer – see below.</li>
                <li><b>4.3</b> For App users: These terms and conditions are an “end user licence agreement” between you
                    and us (not the Store) in relation to our App (i.e. setting out how we allow you to use our App).
                    You also agree to be legally bound by the Store
                    Rules.
                </li>
                <li><b>4.4</b> We reserve the right in our discretion for any lawful reason to refuse any application to
                    use our Service.</li>
                <li><b>4.5</b> By browsing any part of our Service that does not require registration, you are also
                    bound by these terms to the extent they are relevant.</li>
            </ul>
            <h2 class="page-sub-title">5. Changing these terms and conditions </h2>
            <ul>
                <li><b>5.1</b> We may change these terms and conditions by giving you at least 15 days’ notice unless a
                    more urgent change is needed to comply with laws or regulations or to deal with an unforeseen and
                    imminent danger. We will notify you by email,
                    SMS and/or in-app message and by posting the new version on our website. </li>
                <li><b>5.2</b> If you don’t agree to the new terms, you should end this contract as explained below
                    before the new terms take effect. Otherwise, the new terms will apply.</li>
            </ul>
            <h2 class="page-sub-title">6. Your right to use our Service</h2>
            <ul>
                <li><b>6.1</b> We grant you a limited personal non-transferable right to use our Service on any
                    applicable device owned or controlled by you (only Apple-branded where Apple Inc is the Store)
                    subject to these terms and conditions and, where applicable,
                    in accordance with the Store Rules.</li>
            </ul>
            <h2 class="page-sub-title">7. Who can use our Service?</h2>
            <ul>
                <li><b>7.1</b> You must not use, or attempt to register on, our Service if:
                    <ul>
                        <li>you live outside the UK; or</li>
                        <li>you are below 18 years of age.</li>
                    </ul>
                </li>
                <li><b>7.2</b> Our Service is designed for, and may only be used by, by persons who genuinely intend to
                    supply or avail of Healthcare Services</li>
            </ul>
            <h2 class="page-sub-title">8. Things you can’t do on our Service</h2>
            <ul>
                <li><b>8.1</b> You agree not to do any of the following in connection with the Service:
                    <ul>
                        <li>break the law or infringe anyone else’s rights;</li>
                        <li>victimise or harass other people;</li>
                        <li>use offensive, obscene, abusive or other inappropriate language; </li>
                        <li>deceive or mislead anyone;</li>
                        <li>reveal anything that allows you to be contacted except through the Service or identified
                            (e.g. using your last name, postal / email address or telephone number);</li>
                        <li>provide any Content that includes someone else’s personal information unless that person is
                            18 years or over and you have obtained their written consent or you are their
                            parent/guardian;</li>
                        <li>impersonate anyone;</li>
                        <li>link to unlawful or otherwise inappropriate content; </li>
                        <li>use the Service with a view to competing with us or infringing our rights;</li>
                        <li>disrupt our Service, e.g spam, viruses or phishing;</li>
                        <li>interfere with or damage our Service or gain unauthorised access to any part of our system,
                            data, passwords or otherwise; </li>
                        <li>intercept or modify communications;</li>
                        <li>impose an unreasonable load on our Service;</li>
                        <li>deliberately exploit any bugs found within the Service;</li>
                        <li>get around any security or other features including those designed to stop copying of
                            Content; or</li>
                        <li>attempt, encourage or assist any of the above.</li>
                    </ul>
                </li>
                <li><b>8.2</b> You agree to:
                    <ul>
                        <li>comply with any rules or requirements on our Service;</li>
                        <li>promptly comply with any reasonable request or instruction by us in connection with the
                            Service; and </li>
                        <li>ensure that any contact or other information which you supply to us is accurate and not
                            misleading and you will tell us if there are any important changes.</li>
                    </ul>
                </li>
            </ul>
            <h2 class="page-sub-title">9. Healthcare Services (very important - we only provide a platform) </h2>
            <ul>
                <li><b>9.1</b> Our Service is a neutral platform where Providers can arrange to supply Healthcare
                    Services to Customers. We do not supply those services. Any Healthcare Contract is between the
                    respective Provider and Customer and the terms are for
                    the parties to agree providing that they are consistent with this agreement. We are not a party to
                    the Healthcare Contract itself. You acknowledge that any legal recourse arising from breach of the
                    Healthcare Contract is against the
                    other party to the Healthcare Contract and not against us.
                </li>
                <li><b>9.2</b> You also separately promise us that you will comply with each Healthcare Contract. </li>
                <li><b>9.3</b> Customers and Providers who have contacted each other via our Service agree that until 6
                    months after this contract ends, they will not contract directly with each other outside our
                    Service.</li>
                <li><b>9.4</b> You acknowledge that we are entitled at any time to end or suspend any Healthcare
                    Contract by giving notice by email, SMS and/or in-app message, if we consider that either party has
                    breached this agreement or it is necessary to protect
                    either party. If so, we will refund the relevant fee to the Customer subject any deduction which we
                    consider reasonably appropriate.
                </li>
                Your obligations to the Customer / Provider
                <li><b>9.5</b> Providers agree that in connection with supply of Healthcare Services to Customers:
                    <ul>
                        <li>they have and will maintain the necessary abilities (including licenses, permissions,
                            qualifications, skills, training, expertise);</li>
                        <li>they will supply the Healthcare services with reasonable skill and care; and </li>
                        <li>they will comply with all applicable laws and regulations (including data protection) and
                            will not infringe any third party rights.</li>
                    </ul>
                </li>
                <li><b>9.6</b> Users agree to deal with other Users in a polite and courteous manner and to respond
                    promptly to communications from other Users.</li>
                <li><b>9.7</b> In relation to appointments, Customers agree to provide Providers with safe access to
                    their homes and both Customers and Providers agree to comply with any applicable pandemic-related
                    regulations including relating to the wearing of
                    masks.
                </li>
                <h6>Payment by Customers</h6>
                <li><b>9.8</b> Customers must pay the relevant fee to us in advance on behalf of the Provider as shown
                    on our Service, which includes any applicable VAT. You authorise us and our payment provider to
                    charge your payment card for the relevant amounts
                    when payments are due in accordance with this agreement.</li>
                <h6>Customer’s legal right to cancel the Healthcare Contract (“cooling off”)</h6>
                <li><b>9.9</b> If you are a Consumer, you have the right to cancel the Healthcare Contract subject to
                    what we say below. The Provider acknowledges that it is bound by and agrees to comply with these
                    provisions.</li>
                <li><b>9.10</b> You lose the right to cancel contracts for the supply of services which have been fully
                    performed, i.e. completed.</li>
                <li><b>9.11</b> If you do have the right to cancel, please see the instructions at the end of this
                    document.</li>
                <h6>Cancellation of bookings by the Provider</h6>
                <li><b>9.12</b> The Provider is entitled to cancel a booking at any time by giving notice via the
                    Service. If so, we will refund the Customer fee to the Customer in full. We also reserve the right
                    to apply a negative Review to the Provider in respect
                    of that booking.</li>
                <h6>Completion of job – VERY IMPORTANT</h6>
                <li><b>9.13</b> It is the responsibility of the Provider to confirm via our Service when the job is
                    complete. The Customer has the amount of time stated on our Service following this confirmation to
                    raise a dispute via our Service. If no dispute
                    is raised, then we are entitled to release the payment to the Provider.</li>
                <h6>Disputes</h6>
                <li><b>9.14</b> If a dispute is raised during the above dispute period, we will adjudicate on the
                    dispute in our absolute discretion and our decision will be final. Our adjudication will relate only
                    to allocation of the fees held by us and not any
                    wider aspect of the dispute. We are entitled to allocate a full refund to the Customer, to make full
                    payment to the Provider or to split the payment between the parties as we consider appropriate. Both
                    parties shall provide reasonable
                    co-operation including supply of any information that we reasonably request. We are entitled to set
                    or extend any deadlines we consider appropriate whether to allow the parties to try and resolve the
                    dispute themselves, to require
                    production of information, to make our decision or otherwise. We have no legal liability to either
                    party in relation to our role as adjudicator.</li>
                <h6>Payment to Providers</h6>
                <li><b>9.15</b> Provided you have complied with your contract with us, we will take reasonable steps to
                    pay you by whatever payment method we use the amount of the fee received from the Customer less any
                    deductions mentioned below. We will make payment
                    within a reasonable period after the end of the relevant dispute period or, if applicable, following
                    resolution of any dispute. </li>
                <li><b>9.16</b> We are entitled to deduct (including applicable VAT) our fee from the payment to you. We
                    may at any time change the amount of our fee. If so, we will give you notice by email, SMS or in-app
                    message. Any orders made after that notice
                    will be subject to our new fees. </li>
                <li><b>9.17</b> We are entitled in our discretion to refund to the Customer on your behalf all or part
                    of the Customer fee insofar as the Customer makes a complaint or raises a dispute or cancels the
                    order within any applicable cancellation period
                    or if we otherwise consider it appropriate to make such a refund in our discretion (which may be
                    based on any cancellation policy which applies at that time). You are liable to pay any appropriate
                    refund direct to the Customer if the
                    relevant Customer fees have already been paid to you.</li>
                <li><b>9.18</b> We are entitled to deduct from the fees due to you the amount of any chargeback which
                    has arisen or which we consider is likely to occur (irrespective of whether the chargeback relates
                    to the payment currently due). You agree to pay
                    to us immediately on demand the amount of any chargeback relating to a payment which we have
                    transmitted to you.</li>
                <li><b>9.19</b> You are responsible for making up any shortfall arising from charges made by your bank.
                </li>
                <li><b>9.20</b> You are responsible for taking your own tax advice and for accounting for any VAT that
                    is due on sales made to Customers. We are only responsible for accounting for any VAT on our fee
                    that we charge to you. If you are required, or
                    choose to, register for VAT, you will be responsible for issuing a VAT invoice to the Customer if
                    requested. </li>
                <h6>For Providers only</h6>
                <li><b>9.21</b> Providers acknowledge that we do not guarantee that use of our Service of itself will
                    necessarily enable compliance with all applicable laws and regulations concerning the Healthcare
                    Contract and it is the responsibility of Providers
                    to satisfy themselves thereof.</li>
                <li><b>9.22</b> Providers agree to immediately inform us in writing of any relevant change to their
                    circumstances, for example any changes to their licence to practice or professional insurance cover.
                </li>
                <li><b>9.23</b> Providers acknowledge that we do not guarantee that use of our Service will generate any
                    particular level of revenues or suitable enquiries. </li>
            </ul>
            <h2 class="page-sub-title">10. If you upload Content to our Service… </h2>
            <ul>
                <li><b>10.1</b> You are responsible for your Content. </li>
                <li><b>10.2</b> You promise you have (and will keep) all rights needed to enable us to use your Content
                    as
                    contemplated by the Service and these terms and conditions.</li>
                <li><b>10.3</b> If you post a Review, you guarantee that you have no personal or business relationship
                    with the
                    entity, product or service being reviewed, that you are not a competitor of that entity, that have
                    not been offered any incentive to write
                    the Review and that the Review is your independent, honest, genuine opinion. </li>
                <li><b>10.4</b> We reserve the right without notice or refund to reject, suspend, alter, remove or
                    delete
                    Content or to disclose to the police or other relevant authorities or to a complainant any Content
                    or behaviour if it is the subject of complaint
                    or where we have reason to believe that it breaches our terms and conditions, or that such steps are
                    necessary to protect us or others, or that a criminal offence may have been committed, or where
                    required by law or where requested
                    by the police or other appropriate authorities, or if we consider that Content does not meet our
                    quality standards. If so, you must not attempt to re-publish or re-send the relevant Content.</li>
                <li><b>10.5</b> It is your responsibility to decide which Content to upload (subject to these terms and
                    conditions). We do not accept responsibility if your Content is misused by others as this is outside
                    our reasonable control. Don’t upload any
                    Content if you are concerned that it may be misused. </li>
                <li><b>10.6</b> We may place advertisements near or within your Content. If so, we retain all revenue
                    from such
                    advertisements.</li>
                <li><b>10.7</b> It is your responsibility to make your own frequent backups of Content to protect you in
                    case
                    of loss or damage to such material. We are not responsible for such loss or damage.</li>
                <li><b>10.8</b> We may irretrievably delete your Content without telling you after this agreement ends .
                </li>
                <li><b>10.9</b> Uninstalling the App may result in deletion of all Content on your device.</li>
                <h6>Provider listings</h6>
                <li><b>10.10</b> We reserve the right in our discretion without notice to edit the text or layout of
                    your
                    listing to ensure it complies with our terms and conditions and otherwise in accordance with how we
                    think your presence should appear on our
                    Service.
                </li>
                <li><b>10.11</b> We rank Provider listings geographically based on [distance from Customer] or as
                    otherwise
                    explained on our Service. Rankings may be influenced by payment if we offer sponsored or similar
                    listings which enable increased prominence.
                </li>
            </ul>
            <h2 class="page-sub-title">11. Dealing with other Users… </h2>
            <ul>
                <li><b>11.1</b> You accept that we have no obligation to vet or monitor Providers or their Content.
                    While we
                    may make some enquiries, such as asking for proof of professional qualifications and/or
                    registrations, we don’t guarantee to do so and, even
                    if we do, we cannot guarantee that such information is or will remain accurate and up to date. We
                    don’t endorse or recommend any Users or their Content. You deal with other Users at your own risk.
                    We accept no legal responsibility
                    for the accuracy of, or otherwise in relation to, any such Content or in connection with any
                    dealings between Users. Where appropriate, it is your responsibility to carry out careful and
                    detailed investigations before dealing with
                    other Users. You should not assume that any Content from another User is accurate and be aware that
                    a person may not be who he or she claims to be. </li>
                <li><b>11.2</b> You acknowledge that in using the Service you may encounter behaviour or Content which
                    you
                    consider inappropriate. If so, please email us to our email address shown below (including if you
                    wish to give us notice of defamatory material).
                    Please also use any available blocking mechanisms, seek relevant external help If appropriate (e.g.
                    from law enforcement authorities) and/or stop using the Service. </li>
                <li><b>11.3</b> When arranging through the Service to meet another person, you must take appropriate
                    precautions and follow any guidelines on our Service. We cannot control what actually happens at
                    such meetings which are at your own risk and are
                    not our responsibility.
                </li>
                <li><b>11.4</b> If you are a Provider, you acknowledge that we permit Users to post Reviews about you.
                    We are
                    not responsible for monitoring or editing Reviews. You acknowledge that such Reviews may be critical
                    or defamatory of you. </li>
            </ul>
            <h2 class="page-sub-title">12. Other peoples’ services / advertising / websites </h2>
            <ul>
                <li><b>12.1</b> We may display other peoples’ services, advertising and /or links to other websites. We
                    do not
                    recommend or endorse, nor are we legally responsible for, any of these. You use them at your own
                    risk. </li>
                <li><b>12.2</b> You agree that you are legally bound by the terms and conditions of any payment
                    providers whose
                    services you use on our Service. We aren’t responsible for what they do or don’t do.</li>
            </ul>
            <h2 class="page-sub-title">13. Our guidance </h2>
            <ul>
                <li><b>13.1</b> If we ourselves provide any guidance or other general information on our Service, we do
                    not
                    guarantee that it is accurate or up to date and we do not accept legal responsibility for it. Before
                    acting on such information, you must
                    make your own appropriate and careful enquiries including as to its accuracy and suitability for
                    your purposes. You rely on such information at your own risk.</li>
            </ul>
            <h2 class="page-sub-title">14. If you create an account on our Service </h2>
            <ul>
                <li><b>14.1</b> Unless otherwise specifically stated on our Service, your account is for your personal
                    use
                    only. You must not allow any other person to use your account. You agree to take reasonable care to
                    keep your login information confidential
                    and to tell us immediately of any apparent breach of security such as loss or misuse of a password.
                    You are responsible for other people who use your account or identity (unless and to the extent that
                    we are at fault).</li>
            </ul>
            <h2 class="page-sub-title">15. Support </h2>
            <ul>
                <li><b>14.1</b> We do not supply support except to the extent specifically stated on our Service, as
                    may be
                    varied from time to time. You acknowledge that the Store has no obligation to supply any maintenance
                    and support services in relation to the
                    App.
                </li>
            </ul>
            <h2 class="page-sub-title">16. Ending or suspending this contract </h2>
            <ul>
                <li><b>16.1</b> You may at any time end this contract by emailing us to the email address shown below or
                    deactivating / deleting your account in accordance with the instructions on our Service and, if you
                    are an App User, by uninstalling the App
                    from all of your devices. (This doesn’t entitle you to a refund unless you have Consumer “cooling
                    off” rights, explained above.)</li>
                <li><b>16.2</b> We are entitled to end this contract or suspend part or all of our Service or impose
                    restrictions on our Service if:
                    <ul>
                        <li>you break this contract;</li>
                        <li>you are a Provider and repeatedly cancel bookings for Healthcare Services;</li>
                        <li>you are a Provider and are subject to repeated Customer complaints and/or negative Reviews;
                        </li>
                        <li>any fees payable by you are unpaid / unjustifiably charged back; </li>
                        <li>acting reasonably, we think that it is necessary to protect us or others; </li>
                        <li>we are required to do so by applicable law or regulation or to comply with an order,
                            instruction or request from a competent authority; or</li>
                        <li>you or anyone on your behalf acts inappropriately towards our staff.</li>
                    </ul>
                </li>
                <li><b>16.3</b> If you are a Provider and we end the contract, we will give you at least 30 days’ notice
                    unless
                    we have a legal or regulatory obligation, or a legal right, to end it earlier, or you have
                    repeatedly broken this contract.</li>
                <li><b>16.4</b> We are entitled at any time to end this contract if we terminate our Service as a whole
                    if in
                    our reasonable opinion it is necessary to do so for security, technical or operational reasons.</li>
                <li><b>16.5</b> If this contract ends:
                    <ul>
                        <li>Any pending Healthcare Contracts involving you are automatically terminated. If so, we will
                            refund the applicable fee to the Customer subject any deduction which we consider reasonably
                            appropriate.</li>
                        <li>Your right to use our Service and all licences are terminated. </li>
                        <li>Existing rights and liabilities are unaffected. </li>
                        <li>All clauses in this contract which are stated or intended to continue after termination will
                            continue to apply. </li>
                        <li>After the end of the contract, we may retain access to information provided or generated by
                            Providers and Customers in order to deal with disputes, enforce our terms and conditions or
                            manage or improve our Service generally. See
                            our
                            <a [routerLink]="[ '/privacypolicy/privacy']"> Privacy Policy </a> for more information
                            about our retention of personal information.
                        </li>
                    </ul>
                </li>
            </ul>
            <h2 class="page-sub-title">17. Restrictions on our legal responsibility – very important</h2>
            <ul>
                <li><b>17.1</b> Nothing in this agreement in any way limits or excludes our liability for negligence
                    causing
                    death or personal injury or for fraud or fraudulent misrepresentation or for anything which may not
                    legally be excluded or limited. In this
                    section, any reference to us includes our employees and agents, who have the right to enforce this
                    agreement.</li>
                <li><b>17.2</b> If you are a Consumer, we shall not be liable for any loss or damage where:
                    <ul>
                        <li>there is no breach of a legal duty owed to you by us;</li>
                        <li>such loss or damage was not reasonably foreseeable (meaning it was not an obvious
                            consequence of our breach or not contemplated by you and us at the time we entered into this
                            contract); </li>
                        <li>(and to the extent that) such loss or damage is your fault, for example by not complying
                            with this agreement; or</li>
                        <li>such loss or damage relates to a business of yours.</li>
                    </ul>
                </li>
                <li><b>17.3</b> If you are a Consumer, you will be responsible to us for any reasonably foreseeable loss
                    or
                    damage we suffer (including claims made by other people) resulting from your breach of this
                    agreement or misuse of our Service.</li>
                <li><b>17.4</b> The following clauses apply only if you are not a Consumer:
                    <ul>
                        <li>Our liability of any kind (including our own negligence) for any act or omissions or series
                            of connected acts or omissions is limited to the total fees paid or payable by you to us in
                            connection with our Service in the 12 months
                            before the act or omissions complained of.</li>
                        <li>In no event (including our own negligence) will we be liable for any:
                            <ul>
                                <li>economic losses (including, without limit, loss of revenues, profits, contracts,
                                    business or anticipated savings);</li>
                                <li>loss of goodwill or reputation; </li>
                                <li>special, indirect or consequential losses; or</li>
                                <li>damage to or loss of data</li>
                            </ul>
                        </li>
                        <li>You will indemnify us against all claims and liabilities directly or indirectly related to
                            your use of the Service and/or breach of this agreement.</li>
                        <li>To the extent allowed by law, you and we exclude all terms, whether imposed by statute or by
                            law or otherwise, that are not expressly stated in this agreement. </li>
                        <li>This agreement constitutes the entire agreement between us with respect to its subject
                            matter and supercedes any previous communications or agreements between us. We both
                            acknowledge that there have been no misrepresentations and
                            that neither of us has relied on any pre-contractual statements. Liability for
                            misrepresentation (excluding fraudulent misrepresentation) relating to the terms of this
                            agreement is excluded. </li>
                    </ul>
                </li>
            </ul>
            <h2 class="page-sub-title">18. Intellectual property rights (e.g. copyright)</h2>
            <ul>
                <li><b>18.1</b> The intellectual property rights in all material used on or in connection with our
                    Service are
                    owned by us or by our partners or other Users. For your personal use only, you may view such
                    material on your device. You must not otherwise
                    use such material including copying, publishing, selling or adapting it or taking extracts from it
                    without our specific prior written consent. You must not misrepresent the ownership or source of
                    such material, for example by changing
                    or removing any legal notices or author attributions.</li>
                <li><b>18.2</b> Just to be clear - you must not collect, scrape, harvest, frame or deep-link to any
                    Content on
                    our Service without our specific prior written consent. </li>
                <li><b>18.3</b> You must not reverse-engineer or decompile any of our software in any way (except to the
                    extent
                    allowed by applicable law). You must not create or use a modified or derivative version of our
                    software or distribute or sublicense our
                    software to third parties. You must take reasonable steps to ensure that our software is not
                    disclosed to any third party. </li>
                <li><b>18.4</b> If you upload any Content for display on our Service, you retain ownership of the
                    intellectual
                    property rights. You allow us at no cost, for so long as this contract lasts, to use and adapt all
                    or part of such material however we
                    wish on our Service. You waive your “moral rights” in relation to such Content to the extent legally
                    allowed. You also allow each User to use your Content in accordance with these terms and conditions.
                </li>
                <li><b>18.5</b> If you are a Provider: You retain ownership of your logos, trade marks and brand names.
                    You are
                    entitled to make your trading identity visible on our Service but subject to how we think your
                    presence should appear.</li>
            </ul>
            <h2 class="page-sub-title">19. If our Service doesn’t work properly</h2>
            <ul>
                <li><b>19.1</b> We do not guarantee that the Service will be uninterrupted or error-free. We are
                    entitled,
                    without notice and without liability (a) to suspend the Service for repair, maintenance, improvement
                    or other technical reason and (b) to make
                    changes to the Service. </li>
                <li><b>19.2</b> You acknowledge that technology is not always secure and you accept the risks inherent
                    in use
                    of the Internet or other technology for the purpose of the Service.</li>
            </ul>
            <h2 class="page-sub-title">20. Compatibility of App </h2>
            <ul>
                <li><b>20.1</b> We do not guarantee that the App is or will be compatible with any particular mobile
                    devices or
                    associated operating systems (OS’s). You acknowledge that the supplier of the device or OS may issue
                    an update that causes our App to
                    stop working. We may issue App updates through the Store; if so, you may not be able to use our App
                    properly or at all until you have downloaded the update, which may be subject to agreement to new
                    terms and conditions. It is your
                    responsibility to frequently monitor for App updates and to install them as soon as they become
                    available. </li>
            </ul>
            <h2 class="page-sub-title">21. Things we can’t control </h2>
            <ul>
                <li><b>21.1</b> We are not liable for failure to perform or delay in performing any obligation under
                    this
                    agreement if the failure or delay is caused by any circumstances beyond our reasonable control
                    including third party telecommunication failures
                    and epidemics/pandemics.
                </li>
            </ul>
            <h2 class="page-sub-title">22. Transferring this contract to someone else</h2>
            <ul>
                <li><b>22.1</b> We may transfer all or part of our rights or duties under this agreement provided we
                    take
                    reasonable steps to ensure that your rights under this agreement are not prejudiced. As this
                    agreement is personal to you, you may not transfer
                    any of your rights or duties under it without our prior written consent. </li>
            </ul>
            <h2 class="page-sub-title">23. Your personal information – see our privacy policy</h2>
            <ul>
                <li><b>23.1</b> You agree that we can deal with your personal information in accordance with our <a
                        [routerLink]="[ '/privacypolicy/privacy']">Privacy Policy</a> which may change from time to
                    time.</li>
                <li><b>23.2</b> You acknowledge that we do not supply Providers with access to any personal or other
                    information provided to us or generated by use of our Service other than Customer contact
                    information to enable Providers to fulfil orders or as
                    otherwise explained on our Service or our <a [routerLink]="[ '/privacypolicy/privacy']">Privacy
                        Policy</a>. We do not share any such information with anyone else except insofar as this is
                    necessary for the proper functioning of our
                    Service. </li>
            </ul>
            <h2 class="page-sub-title">24. English law and courts </h2>
            <ul>
                <li><b>24.1</b> This contract is under English law and any disputes will be decided only by the courts
                    of the
                    United Kingdom. </li>
            </ul>
            <h2 class="page-sub-title">25. General but important stuff </h2>
            <ul>
                <li><b>25.1</b> We may send all notices under this agreement by email to the most recent email address
                    you have
                    given us. You can send notices to our email address shown below. Headings used in this agreement are
                    for information and not binding.
                    If any part of this agreement is ineffective or unenforceable for any reason, the rest of the
                    agreement will still apply. If either of us overlooks any breach of this agreement by the other, it
                    can still be actioned later. A person
                    who is not a party to this agreement can’t enforce it unless the agreement says otherwise. The
                    parties are independent contractors and, except as otherwise specifically stated above, nothing in
                    this agreement make any party as agent,
                    employee or representative of the other.</li>
            </ul>
            <h2 class="page-sub-title">26. Extra legal terms required by the Store </h2>
            <ul>
                <li><b>26.1</b> In the event of any third party claim that the App or your possession and use of the App
                    infringes that third party’s intellectual property rights, we, not the Store, will be solely
                    responsible for the investigation, defence, settlement
                    and discharge of any such intellectual property infringement claim.</li>
                <li><b>26.2</b> The following applies where Apple Inc is the Store:
                    <ul>
                        <li>In the event of any failure of the App to conform to any applicable warranty, you may notify
                            Apple, and Apple will refund the purchase price for the App (if applicable). To the maximum
                            extent permitted by applicable law, Apple
                            will have no other warranty obligation whatsoever with respect to the App, and any other
                            claims, losses, liabilities, damages, costs or expenses attributable to any failure to
                            conform to any warranty will be our sole responsibility
                            subject to these terms and conditions.</li>
                        <li>We, not Apple, are responsible for addressing your claims or the claims of any third party
                            relating to the App or the end-user’s possession and/or use of that App, including, but not
                            limited to: (i) product liability claims; (ii)
                            any claim that the App fails to conform to any applicable legal or regulatory requirement;
                            and (iii) claims arising under consumer protection, privacy or similar legislation including
                            use of HealthKit and HomeKit frameworks.</li>
                    </ul>
                </li>
                <li><b>26.3</b> You acknowledge and agree that the Store, and the Store’s subsidiaries, are third party
                    beneficiaries of this agreement, and that the Store will have the right (and will be deemed to have
                    accepted the right) to enforce this agreement
                    against you as a third party beneficiary thereof.</li>
                <li><b>26.4</b> You promise that (i) you are not located in a country that is subject to a U.S.
                    Government
                    embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and
                    (ii) you are not listed on any U.S. Government
                    list of prohibited or restricted parties. </li>
            </ul>
            <h2 class="page-sub-title">27. Complaints </h2>
            <ul>
                <li><b>27.1</b> If you have any complaints, please contact us via the contact details shown below. </li>
            </ul>
            <h2 class="page-sub-title">28. Company information </h2>
            <ul>
                <li><b>28.1</b> Company name: Icarequick Ltd</li>
                <li><b>28.2</b> Trading name: “I Care Quick/ ICQ”</li>
                <li><b>28.3</b> Country of incorporation: England and Wales.</li>
                <li><b>28.4</b> Registered number: 12900836</li>
                <li><b>28.5</b> Registered and trading office: 449A Alexandra Avenue, Harrow HA2 9SE, UK.</li>
                <li><b>28.6</b> Contact email address: info@icarequick.com</li>
                <li><b>28.7</b> Other contact information: See our website / contact page.</li>
                <li><b>28.8</b> VAT number: [insert]</li>
            </ul>
            <h1 class="page-main-title">CUSTOMER RIGHT TO CANCEL THE HEALTHCARE CONTRACT (“COOLING OFF”)</h1>
            <p>The following applies if you have the right to cancel this contract (as explained above). References
                below to “we”, “us”, “our” refer to the Provider and not to us.</p>
            <h6>Right to cancel </h6>
            <ul>
                <li><b>1.</b> If you have any complaints, please contact us via the contact details shown below. </li>
                <li><b>2.</b> The cancellation period will expire after 14 days from the day of the conclusion of the
                    contract.
                </li>
                <li><b>3.</b> To exercise the right to cancel, you must inform Icarequick Ltd, 449A Alexandra Avenue,
                    Harrow
                    HA2 9SE, UK (email address above) on behalf of the Provider of your decision to cancel this contract
                    by a clear statement (e.g. a letter
                    sent by post or e-mail). You may use the model cancellation form below but it is not obligatory.
                </li>
                <li><b>4.</b> To meet the cancellation deadline, it is sufficient for you to send your communication
                    concerning
                    your exercise of the right to cancel before the cancellation period has expired.</li>
                <h6>Effects of cancellation</h6>
                <li><b>5.</b> If you cancel this contract, we (reminder - meaning the Provider) will reimburse to you
                    all
                    payments received from you.</li>
                <li><b>6.</b> The reimbursement will be made without undue delay, and not later than 14 days after the
                    day on
                    which we are informed about your decision to cancel this contract.</li>
                <li><b>7.</b> The reimbursement will be made using the same means of payment as you used for the initial
                    transaction, unless you have expressly agreed otherwise; in any event, you will not incur any fees
                    as a result of the reimbursement. </li>
                <li><b>8.</b> If you requested us to begin the performance of services during the cancellation period,
                    you
                    shall pay us an amount which is in proportion to what has been performed until you have communicated
                    to us your cancellation of this contract
                    in comparison with the full coverage of the contract.</li>
            </ul>
            <h1 class="page-main-title">MODEL CANCELLATION FORM</h1>
            <h6>Complete and return this form only if you wish to cancel the contract:</h6>
            <ul>
                <li> — To [NAME, GEOG ADDRESS] (email address above) on behalf of the Provider:</li>
                <li> — I/We [*] hereby give notice that I/We [*] cancel my/our [*] contract of sale of the following
                    goods [*]/ for the supply of the following service [*],</li>
                <li> — Ordered on [*]/received on [*],</li>
                <li> — Name of consumer(s),</li>
                <li> — Address of consumer(s),</li>
                <li> — Signature of consumer(s) (only if this form is notified on paper),</li>
                <li> — Date</li>
                <li> [*] Delete as appropriate</li>
            </ul>
        </div>
    </div>
</div>