<!-- Breadcrumb -->
<div class="breadcrumb-bar" id="top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Profile Settings</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <!-- Profile Settings Form -->
                <form [formGroup]="doctorprofileform" (ngSubmit)="onSubmit()">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Basic Information</h4>
                            <div class="row form-row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <div class="change-avatar">
                                            <div class="profile-img" *ngIf="Display_Profile != null">
                                                <img [src]="Display_Profile">
                                            </div>
                                            <div class="profile-img" *ngIf="Display_Profile == null">
                                                <img src="assets/img/imagenotfound.png" alt="User Image">
                                            </div>
                                            <div class="upload-img" *ngIf="Display_Profile == null">
                                                <div class="change-photo-btn">
                                                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                    <input type="file" class="upload" #attachments
                                                        accept="image/jpeg, image/png, image/jpg,"
                                                        (change)="onSelectImagePathFile($event,'DoctorProfilePic')"
                                                        formControlName="ProfilePick">
                                                </div>
                                                <small class="form-text text-muted">Allowed JPG, PNG or PDF. Max size of
                                                    2MB</small>
                                            </div>
                                            <div class="upload-img" *ngIf="Display_Profile != null">
                                                <div class="change-photo-btn change-remove-btn">
                                                    <span><i class="fas fa-file-invoice"></i> Change Photo </span>
                                                    <input type="file" class="upload"
                                                        accept="image/jpeg, image/png, image/jpg,"
                                                        (change)="onSelectImagePathFile($event,'DoctorProfilePic')">
                                                </div>
                                            </div>&nbsp;&nbsp;
                                            <span *ngIf="Display_Profile != null">
                                                <button class="btn btn-danger warning"
                                                    (click)="removeSelectedFile('DoctorProfilePic')"><i
                                                        class="far fa-trash-alt"></i> Remove Photo </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Frist Name"
                                            formControlName="FirstName"
                                            [ngClass]="{ 'is-invalid': f.FirstName.touched && f.FirstName.errors }">
                                        <div *ngIf="f.FirstName.touched && f.FirstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.FirstName.errors.required">First name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name"
                                            formControlName="LastName"
                                            [ngClass]="{ 'is-invalid': f.LastName.touched && f.LastName.errors }">
                                        <div *ngIf="f.LastName.touched && f.LastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.LastName.errors.required">Last name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Email"
                                            formControlName="EmailAddress"
                                            [ngClass]="{ 'is-invalid': f.EmailAddress.touched && f.EmailAddress.errors }">
                                        <div *ngIf="f.EmailAddress.touched && f.EmailAddress.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.EmailAddress.errors.required">Email is required</div>
                                            <div *ngIf="f.EmailAddress.errors.pattern">Email must be a valid email
                                                address</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password"
                                            formControlName="password"
                                            [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }">
                                        <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password must be at least 6
                                                characters</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control PlaceHolderColor"
                                            formControlName="dateofbirth"
                                            [ngClass]="{ 'is-invalid': f.dateofbirth.touched && f.dateofbirth.errors }">
                                        <div *ngIf="f.dateofbirth.touched && f.dateofbirth.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.dateofbirth.errors.required">Date of birth is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input type="text" class="form-control" placeholder="Mobile Number"
                                            maxlength="10" (keypress)="numberOnly($event)" formControlName="PhoneNumber"
                                            [ngClass]="{ 'is-invalid': f.PhoneNumber.touched && f.PhoneNumber.errors }">
                                        <div *ngIf="f.PhoneNumber.touched && f.PhoneNumber.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.PhoneNumber.errors.required">Phone number is required</div>
                                            <div *ngIf="f.PhoneNumber.errors.minlength">Phone number must be at least 10
                                                characters</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select class="form-control select PlaceHolderColor" formControlName="Gender"
                                            [ngClass]="{ 'is-invalid': f.Gender.touched && f.Gender.errors }">
                                            <option value="" disabled selected>Select Gender</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                        <div *ngIf="f.Gender.touched && f.Gender.errors" class="invalid-feedback">
                                            <div *ngIf="f.Gender.errors.required">Gender is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control select PlaceHolderColor" formControlName="Category"
                                            [ngClass]="{ 'is-invalid': f.Category.touched && f.Category.errors }">
                                            <option value="" disabled selected>Select Category</option>
                                            <option>Static</option>
                                            <option>Static</option>
                                        </select>
                                        <div *ngIf="f.Category.touched && f.Category.errors" class="invalid-feedback">
                                            <div *ngIf="f.Category.errors.required">Category is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>DBS Reference Number </label>
                                        <input type="text" class="form-control" maxlength="12"
                                            (keypress)="numberOnly($event)" placeholder="DBS Reference Number"
                                            formControlName="DBS"
                                            [ngClass]="{ 'is-invalid': f.DBS.touched && f.DBS.errors }">
                                        <div *ngIf="f.DBS.touched && f.DBS.errors" class="invalid-feedback">
                                            <div *ngIf="f.DBS.errors.required">DBS is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- About Me -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">About Me</h4>
                            <div class="form-group mb-0">
                                <label>Biography</label>
                                <textarea class="form-control" rows="5" formControlName="AboutMe" maxlength="500"
                                    [ngClass]="{ 'is-invalid': f.AboutMe.touched && f.AboutMe.errors }"></textarea>
                                <div *ngIf="f.AboutMe.touched && f.AboutMe.errors" class="invalid-feedback">
                                    <div *ngIf="f.AboutMe.errors.required">Biography is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /About Me -->
                    <!-- Pricing -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Pricing</h4>
                            <div class="row custom_price_cont" id="custom_price_cont">
                                <div class="col-md-4">
                                    <input type="text" maxlength="5" min="0" class="form-control"
                                        placeholder="Enter Amount"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                        formControlName="BasicPrice"
                                        [ngClass]="{ 'is-invalid': f.BasicPrice.touched && f.BasicPrice.errors }" />
                                    <div *ngIf="f.BasicPrice.touched && f.BasicPrice.errors" class="invalid-feedback">
                                        <div *ngIf="f.BasicPrice.errors.required">Basic Price is
                                            required</div>
                                    </div>
                                    <small class="form-text text-muted">Custom price you can add</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Pricing -->
                    <!-- Google Map -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Location</h4>
                            <div class="row custom_price_cont" id="custom_price_cont">
                                <div class="col-md-4">
                                    <input id="bindmap" class="form-control locationtxt" formControlName="PlaceName"
                                        ngx-google-places-autocomplete placeholder="Select Location"
                                        [ngClass]="{ 'is-invalid': f.PlaceName.touched && f.PlaceName.errors }" />
                                    <div *ngIf="f.PlaceName.touched && f.PlaceName.errors" class="invalid-feedback">
                                        <div *ngIf="f.PlaceName.errors.required">PlaceName is required</div>
                                    </div>
                                </div>
                                <div class="map-frame">
                                    <div class="mapouter">
                                        <div class="gmap_canvas">
                                            <iframe id="iframe" width="800px" height="500px" id="gmap_canvas"
                                                src="https://maps.google.com/maps?&output=embed&q=United+Kingdom&ftid=0x25a3b1142c791a9:0xc4f8a0433288257a"
                                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Google Map -->
                    <!-- Bank Info -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Bank Info</h4>
                            <div class="row form-row">
                                <div class="col-md-6">
                                    <div class="form-group mb-0">
                                        <label>Account Holder Name<span class="text-danger"></span></label>
                                        <input type="text" class="form-control" placeholder="Account Holder Name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Account No<span class="text-danger"></span></label>
                                        <input type="text" class="form-control" placeholder="Account No">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bank Name<span class="text-danger"></span></label>
                                        <input type="text" class="form-control" placeholder="Bank Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sortcode<span class="text-danger"></span></label>
                                        <input type="text" class="form-control" placeholder="Sortcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Upload Detail -->
                    <div class="card contact-card">
                        <div class="card-body">
                            <h4 class="card-title">Upload Your Documents</h4>
                            <div class="row form-row">
                                <div class="col-md-6">
                                    <div class="change-avatar">
                                        <div class="profile-img" *ngIf="Display_CV != null">
                                            <img [src]="Display_CV" *ngIf="!FileExtCV">
                                            <img src="assets/img/PDF.png" *ngIf="FileExtCV">
                                        </div>
                                        <div class="profile-img" *ngIf="Display_CV == null">
                                            <img src="assets/img/imagenotfound.png" alt="User Image">
                                        </div>
                                        <div class="upload-img" *ngIf="Display_CV == null">
                                            <div class="change-photo-btn">
                                                <span><i class="fa fa-upload"></i> Upload CV</span>
                                                <input type="file" class="upload" formControlName="CV" #attachments
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'CV')">
                                            </div>
                                            <small class="form-text text-muted">Allowed
                                                JPG, PNG or PDF. Max size of 2MB</small>
                                        </div>
                                        <div class="upload-img" *ngIf="Display_CV != null">
                                            <div class="change-photo-btn change-remove-btn">
                                                <span><i class="fas fa-file-invoice"></i> Change Photo </span>
                                                <input type="file" class="upload"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'CV')">
                                            </div>
                                        </div>&nbsp;&nbsp;
                                        <span *ngIf="Display_CV != null">
                                            <button class="btn btn-danger warning" (click)="removeSelectedFile('CV')"><i
                                                    class="far fa-trash-alt"></i> Remove Photo </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="change-avatar">
                                        <div class="profile-img" *ngIf="Display_PassPort != null">
                                            <img [src]="Display_PassPort" *ngIf="!FileExtPassPort">
                                            <img src="assets/img/PDF.png" *ngIf="FileExtPassPort">
                                        </div>
                                        <div class="profile-img" *ngIf="Display_PassPort == null">
                                            <img src="assets/img/imagenotfound.png" alt="User Image">
                                        </div>
                                        <div class="upload-img" *ngIf="Display_PassPort == null">
                                            <div class="change-photo-btn">
                                                <span><i class="fa fa-upload"></i> Upload PassPort</span>
                                                <input type="file" class="upload" formControlName="PassPort"
                                                    #attachments accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'PassPort')">
                                            </div>
                                            <small class="form-text text-muted">Allowed JPG, PNG or PDF. Max size of
                                                2MB</small>
                                        </div>
                                        <div class="upload-img" *ngIf="Display_PassPort != null">
                                            <div class="change-photo-btn change-remove-btn">
                                                <span><i class="fas fa-file-invoice"></i> Change Photo </span>
                                                <input type="file" class="upload"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'PassPort')">
                                            </div>
                                        </div>&nbsp;&nbsp;
                                        <span *ngIf="Display_PassPort != null">
                                            <button class="btn btn-danger warning"
                                                (click)="removeSelectedFile('PassPort')"><i
                                                    class="far fa-trash-alt"></i> Remove Photo </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="change-avatar">
                                        <div class="profile-img" *ngIf="Display_DrivingLicence != null">
                                            <img [src]="Display_DrivingLicence" *ngIf="!FileExtDrivingLicence">
                                            <img src="assets/img/PDF.png" *ngIf="FileExtDrivingLicence">
                                        </div>
                                        <div class="profile-img" *ngIf="Display_DrivingLicence == null">
                                            <img src="assets/img/imagenotfound.png" alt="User Image">
                                        </div>
                                        <div class="upload-img" *ngIf="Display_DrivingLicence == null">
                                            <div class="change-photo-btn">
                                                <span><i class="fa fa-upload"></i> Upload Driving License</span>
                                                <input type="file" class="upload" #attachments
                                                    formControlName="DrivingLicence"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'DrivingLicence')">
                                            </div>
                                            <small class="form-text text-muted">Allowed JPG, PNG or PDF. Max size of
                                                2MB</small>
                                        </div>
                                        <div class="upload-img" *ngIf="Display_DrivingLicence != null">
                                            <div class="change-photo-btn change-remove-btn">
                                                <span><i class="fas fa-file-invoice"></i> Change Photo </span>
                                                <input type="file" class="upload"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'DrivingLicence')">
                                            </div>
                                        </div>&nbsp;&nbsp;
                                        <span *ngIf="Display_DrivingLicence != null">
                                            <button class="btn btn-danger warning"
                                                (click)="removeSelectedFile('DrivingLicence')"><i
                                                    class="far fa-trash-alt"></i> Remove Photo </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="change-avatar">
                                        <div class="profile-img" *ngIf="Display_ProofAddress != null">
                                            <img [src]="Display_ProofAddress" *ngIf="!FileExtProofAddress">
                                            <img src="assets/img/PDF.png" *ngIf="FileExtProofAddress">
                                        </div>
                                        <div class="profile-img" *ngIf="Display_ProofAddress == null">
                                            <img src="assets/img/imagenotfound.png" alt="User Image">
                                        </div>
                                        <div class="upload-img" *ngIf="Display_ProofAddress == null">
                                            <div class="change-photo-btn">
                                                <span><i class="fa fa-upload"></i> Upload Proof of Address</span>
                                                <input type="file" class="upload" #attachments
                                                    formControlName="ProofofAddress"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'ProofofAddress')">
                                            </div>
                                            <small class="form-text text-muted">Allowed JPG, PNG or PDF. Max size of
                                                2MB</small>
                                        </div>
                                        <div class="upload-img" *ngIf="Display_ProofAddress != null">
                                            <div class="change-photo-btn change-remove-btn">
                                                <span><i class="fas fa-file-invoice"></i> Change Photo </span>
                                                <input type="file" class="upload"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'ProofofAddress')">
                                            </div>
                                        </div>&nbsp;&nbsp;
                                        <span *ngIf="Display_ProofAddress != null">
                                            <button class="btn btn-danger warning"
                                                (click)="removeSelectedFile('ProofofAddress')"><i
                                                    class="far fa-trash-alt"></i> Remove Photo </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="change-avatar">
                                        <div class="profile-img" *ngIf="Display_DBSCertificate != null">
                                            <img [src]="Display_DBSCertificate" *ngIf="!FileExtDBSCertificate">
                                            <img src="assets/img/PDF.png" *ngIf="FileExtDBSCertificate">
                                        </div>
                                        <div class="profile-img" *ngIf="Display_DBSCertificate == null">
                                            <img src="assets/img/imagenotfound.png" alt="User Image">
                                        </div>
                                        <div class="upload-img" *ngIf="Display_DBSCertificate == null">
                                            <div class="change-photo-btn">
                                                <span><i class="fa fa-upload"></i> Upload DBS certificate</span>
                                                <input type="file" class="upload" #attachments
                                                    formControlName="DBSCertificate"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'DBSCertificate')">
                                            </div>
                                            <small class="form-text text-muted">Allowed JPG, PNG or PDF. Max size of
                                                2MB</small>
                                        </div>
                                        <div class="upload-img" *ngIf="Display_DBSCertificate != null">
                                            <div class="change-photo-btn change-remove-btn">
                                                <span><i class="fas fa-file-invoice"></i> Change Photo </span>
                                                <input type="file" class="upload"
                                                    accept="image/jpeg, image/png, image/jpg,.pdf"
                                                    (change)="onSelectImagePathFile($event,'DBSCertificate')">
                                            </div>
                                        </div>&nbsp;&nbsp;
                                        <span *ngIf="Display_DBSCertificate != null">
                                            <button class="btn btn-danger warning"
                                                (click)="removeSelectedFile('DBSCertificate')"><i
                                                    class="far fa-trash-alt"></i> Remove Photo </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Upload Detail -->
                    <!-- /Bank Info -->
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn sbtbtn"
                            [disabled]="!doctorprofileform.valid">Save Changes</button>
                    </div>
                </form>
                <!-- /Profile Settings Form -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->