<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Book A Home Visit</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                <!-- Search Filter -->
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Search Services</h4>
                    </div>
                    <div class="card-body">
                        <div class="filter-widget">
                            <h4>Enter Location</h4>
                            <input class="form-control" ngx-google-places-autocomplete placeholder="Enter Location" />
                        </div>
                        <div class="filter-widget">
                            <h4>Select Specialist</h4>
                            <select class="form-control PlaceHolderColor">
                                <option value="" disabled selected>Select Category
                                </option>
                                <option>Static</option>
                                <option>Static</option>
                            </select>
                        </div>
                        <div class="btn-search">
                            <button type="button" class="btn btn-block">Search</button>
                        </div>
                    </div>
                </div>
                <!-- /Search Filter -->

            </div>

            <div class="col-md-12 col-lg-8 col-xl-9">
                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="doctor-widget">
                            <div class="doc-info-left">
                                <div class="doctor-img">
                                    <a href="doctor-profile.html">
                                        <img src="assets/img/medical-img3.jpg" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="doc-info-cont">
                                    <h4 class="doc-name"><a>Dr. Ruby Perrin</a></h4>
                                    <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">(17)</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
                                        <ul class="clinic-gallery">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="doc-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <!-- <li><i class="far fa-thumbs-up"></i> 98%</li> -->
                                        <li><i class="far fa-comment"></i> 17 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
                                        <li><i class="far fa-money-bill-alt"></i> $300 - $1000 <i
                                                class="fas fa-info-circle" data-toggle="tooltip"
                                                title="Lorem Ipsum"></i> </li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn"
                                        [routerLink]="[ '/book-home-visit/service-provider-viewprofile']">View
                                        Profile</a>
                                    <a class="apt-btn"
                                        [routerLink]="[ '/book-home-visit/service-provider-bookappointment']">Book
                                        Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->
                <div class="load-more text-center">
                    <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->