<div class="policy-wrp container pt-5" id="top">
    <div class="card">
        <div class="card-body">
            <h1 class="page-main-title">PRIVACY POLICY</h1><br />
            <h6> Version number: [Give the document a version number.]</h6>
            <h6> Effective date: [Insert the date when the document takes effect.]</h6><br />
            <h2 class="page-sub-title">1. Who are we? </h2>
            <ul>
                <li><b>1.1</b> We are Icarequick Ltd. For privacy queries, you can contact us at office@icarequick.com.
                    Other
                    contact details are on our website. </li>
            </ul>
            <h2 class="page-sub-title">2. What’s the point of this policy? </h2>
            <ul>
                <li><b>2.1</b> It tells you what to expect when we collect your personal information via our website app
                    or
                    otherwise. Please only use our service if you are completely happy with this policy. </li>
                <li><b>2.2</b> Generally, the policy covers only information provided to us. If you give personal
                    information
                    to other people, such as payment providers or other websites, please check their privacy policies.
                </li>
            </ul>
            <h2 class="page-sub-title">3. Might the policy change?</h2>
            <ul>
                <li><b>3.1</b> Yes. We will post any new version on our website (please check whenever you visit the
                    site) and
                    also notify you by email, SMS, in-app message or otherwise. We will assume you agree to the new
                    version of the policy if you use our site
                    or app after its effective date. </li>
            </ul>
            <h2 class="page-sub-title">4. What do we collect? </h2>
            <ul>
                <li><b>4.1</b> Information which you upload to our service or otherwise give us such as:
                    <ul>
                        <li>your name and contact details;</li>
                        <li>other information you provide when you register with us or later such as your date of birth
                            and, if you are a service provider, your photo and bank details;</li>
                        <li>details about your transactions on our service;</li>
                        <li>information that you include in your username, profile, posts, reviews or which you
                            otherwise provide for display on our service or which you include in messages sent via our
                            service and/or in communications with us; and</li>
                        <li>contact or other information which you give or allow us to use for newsletters or other
                            marketing.</li>
                    </ul>
                </li>
                <li><b>4.2</b> Automated information about your use of our service such as: the internet protocol (IP)
                    address
                    used to connect your device to the internet, connection information such as browser type and
                    version, information about your device including
                    device-type and device identifier, operating system and platform, mobile network data, a unique
                    reference number linked to the data you enter on our system, login details, the site from which you
                    arrived at our service, details of
                    your activity with date / time stamps including pages you visited and your searches / transactions.
                </li>
                <li><b>4.3</b> If you are a service provider, information about your exact geo-location during any
                    period that
                    you are available to provide services. You will be asked to consent to your data being used for this
                    purpose. You can withdraw your consent
                    at any time by deleting or deactivating your account as explained on our service.</li>
                <li><b>4.4</b> The following information about you may be provided to us by other people:
                    <ul>
                        <li>Limited billing information sent to us by our payment provider or the relevant app store for
                            verification purposes e.g., your name, email address and billing address.</li>
                        <li>Certificates or other information about your qualifications, professional standing and
                            criminal record – if you are a service provider.</li>
                    </ul>
                </li>
            </ul>
            <h2 class="page-sub-title">5. What’s our reason / legal basis for collecting the information?</h2>
            <ul>
                <li><b>5.1</b> Because it’s necessary to take steps at your request to enter into a contract with you
                    and/or to
                    perform such a contract. This applies to initial enquiries and to contact and transaction details as
                    to location information and profiles
                    and other information which you display on, or send via, our service. </li>
                <li><b>5.2</b> Because it’s in our “legitimate interests”, e.g., to manage and improve our service
                    including
                    tracking usage patterns and preventing or detecting fraud or abuse. This applies to automated usage
                    data as well as to reviews. We may also
                    use your contact information to carry out customer satisfaction surveys.</li>
                <li><b>5.3</b> Because you’ve specifically agreed on our service (e.g, by ticking a consent box). This
                    applies
                    to contact or other information which you give or allow us to use for newsletters or other
                    marketing. You can withdraw permission at any
                    time as explained on our service or by emailing us at the above email address. </li>
            </ul>
            <h2 class="page-sub-title">6. How long do we keep personal information? </h2>
            <ul>
                <li><b>6.1</b> Until up to 30 days after your account is deactivated / deleted or our contract with you
                    has
                    otherwise ended. You can end the contract as explained in our terms and conditions.</li>
                <li><b>6.2</b> We may hold on to some (or all) of your information for longer (typically up to six
                    years) if
                    reasonably needed for legal, regulatory or tax reasons, deal with disputes, prevent fraud or abuse
                    and/or enforce our terms and conditions.</li>
                <li><b>6.3</b> We will keep your information which we use only for newsletters or other marketing until
                    you
                    tell us to stop sending you such messages.</li>
                <li><b>6.4</b> We will generally keep automated browsing information for up to 26 months.</li>
            </ul>
            <h2 class="page-sub-title">7. To whom do we send or make available your personal information?</h2>
            <ul>
                <li><b>7.1</b> To other people who supply us with a service, e.g., website hosts, payment providers, and
                    businesses which help us send communications or monitor our website and which provide us with
                    e-commerce, online advertising, analytics, social
                    media, review management, and other IT services.</li>
                <li><b>7.2</b> To other users of our service if you:
                    <ul>
                        <li>display personal information in a profile, post, comment, review or other public action on
                            our service; or</li>
                        <li>consent to our location-related services which enable display of your [general] location to
                            other users.</li>
                    </ul>
                </li>
                <li><b>7.3</b> To the service provider with whom you booked the appointment to enable them to attend the
                    appointment and deal with any post-sale communications.</li>
                <li><b>7.4</b> To regulators, the police and other law enforcement authorities to help deal with fraud
                    and
                    abuse and/or comply with legal requirements.</li>
                <li><b>7.5</b> To insurers and professional advisers in connection with our insurance cover or to deal
                    with
                    legal claims.</li>
                <li><b>7.6</b> To potential buyers so far as reasonably necessary, in the case of an actual or proposed
                    (including negotiations for a) sale or merger or business combination involving all or the relevant
                    part of our business.</li>
            </ul>
            <h2 class="page-sub-title">8. Do we send your information outside the UK or European Economic Area (EEA)?
            </h2>
            <ul>
                <li><b>8.1</b> Your personal information which we collect is stored within the UK or EEA and is not
                    transferred
                    to any other countries except as follows.</li>
                <li><b>8.2</b> Your personal information (e.g., name, email address, IP address, browsing information)
                    may be
                    transferred to the US by the following companies: Apple (app admin), Google / Facebook (analytics /
                    advertising / app admin) and the social
                    media companies listed in our cookies policy. Transfer is generally on the basis of contracts with
                    special standard contractual clauses designed to provide adequate safeguards for your personal
                    information. Some of these companies
                    were certified under the “Privacy Shield” framework which is no longer applicable due to a court
                    decision; we understand that the authorities are working on a replacement and we aim to update our
                    policy to reflect this in due course.</li>
            </ul>
            <h2 class="page-sub-title">9. What rights do you have? </h2>
            <ul>
                <li><b>9.1</b> If the legal requirements are met: To ask us for access to your personal information, to
                    rectify
                    it if there are mistakes, to delete it or restrict its use in certain circumstances or to “data
                    portability” or to withdraw any consent
                    you’ve given (e.g. marketing).</li>
                <li><b>9.2</b> You may also have the right to object to use of your personal information in certain
                    circumstances.</li>
                <li><b>9.3</b> If you have a complaint about how we are dealing with your personal information, please
                    contact
                    us via the email address above. If you are not happy with our response or think we are not handling
                    your personal information in accordance
                    with the law, you have the right to complain to the Information Commissioner’s Office (ICO).</li>
                <li><b>9.4</b> For more information about your rights, visit the ICO’s website: <a>www.ico.org.uk</a>
                </li>
            </ul>
        </div>
    </div>
</div>