<div class="contact3 py-5">
    <div class="row no-gutters">
        <div class="container" style="padding: 0 60px;">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-margin">
                        <div class="cust-blog-image">
                            <div class="col-lg-12">
                                <img src="assets/img/logo.png" class="img-fluid" alt="Logo" style="width: 50px; margin: 4px 200px; margin-top: 36px;">
                                <h1 class="subscribe-title">Subscribe to</h1>
                                <h1 class="newsletter-title">Newsletter</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-box ml-3">
                        <h3 class="card2-title">Always be up to date!</h3>
                        Enter your email address to receive our newsletter including special offers.
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <input type="text" class="form-control" placeholder="Email Address">
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-12 cust-Subscribe-checkbox">
                                            <input type="checkbox" id="chk_subscribe">
                                            <label for="chk_subscribe"> Tick here if you would like us to send you
                                                emails about our products and special offers.</label>
                                        </div>
                                        <div class="col-sm-12 mt-3">
                                            <button type="submit" class="btn btn-primary view-inv-btn-contact box">Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="unsubscribe-link">You can withdraw consent at any time by?
                                <a href="javascript:void(0);" (click)="openModel()">Click Here</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="common-model register" *ngIf="IsOpenModel">
    <div class="overlay"></div>
    <div class="model-content">
        <div class="model-head">
            <i (click)="closeModel()" aria-hidden="true" class="fa fa-times"></i>
        </div>
        <div class="model-body">
            <h3>Do you want to unsubscribe from the newsletter? </h3>
            <p class="sub-title"></p>
            <form>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>

                    </div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary btn-unsubscribe box">Unsubscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>