.subscribe-title {
    color: #cdcdcf;
    font-weight: 400;
    font-size: 2.92vw;
    margin-left: 115px;
    margin-top: 10px;
}

.newsletter-title {
    display: block;
    font-weight: 700;
    color: #201d1d;
    font-family: RedHat-Display, sans-serif!important;
    margin-left: 115px;
}

label {
    margin-bottom: .5rem;
    display: contents;
}

.unsubscribe-link {
    margin-top: 15px;
}

.unsubscribe-link a {
    color: blue;
}

.unsubscribe-link a:hover {
    color: #61e0c6;
}

.common-model .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
}

.register .model-content {
    background-color: #fff;
    background-image: none;
    max-width: 807px;
    padding: 30px 125px 45px;
}

.common-model .model-content {
    background-repeat: no-repeat;
    background-position: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: 100%;
}

.common-model .model-content .fa-times {
    position: absolute;
    right: 20px;
    top: 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.common-model .model-content .fa-times {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.btn-unsubscribe {
    font-size: 15px;
    font-weight: 600;
    padding: 7px 30px;
}

.test-class {
    display: block !important;
}

.cust-Subscribe-checkbox {
    position: relative;
    padding-left: 40px;
}

.cust-Subscribe-checkbox #chk_subscribe {
    position: absolute;
    top: 8px;
    left: 15px;
}

.cust-blog-image {
    margin-bottom: 85px;
}

.card2-title {
    color: #cdcdcf;
}

.card-margin {
    margin-right: 45px;
}