.div-left button {
    float: right !important;
}

.Resetbtn {
    background-color: red !important;
    background-color: #ff0100;
    border: 1px solid #ff0100
}

.card-body {
    background-color: #F7F7F7;
}

.justify-content-center {
    padding-bottom: 30px;
}

ul {
    color: red;
}

.test-class {
    display: block !important;
}

.gmap_canvas iframe {
    display: block;
    width: 100%;
    padding-top: 5px;
}

.place-card-large {
    padding: 9px 4px 9px 11px;
    display: none !important;
}

.place-card-large {
    display: none !important;
}

.doctor-title {
    margin-bottom: 10px;
}

.PlaceHolderColor {
    color: gray;
    font-size: 14px;
}

.sbtfont {
    font-size: 23px;
}


/* .btn-margin {
    margin-left: 956px;
    margin-bottom: 10px;
} */


/* .btn-margin-step2 {
    margin-left: 842px;
} */

.step5-btn {
    margin-left: 92%;
}

@media only screen and (max-width:1440px) {
    .card-register {
        margin-bottom: 10px !important;
    }
    .card-body.doctor-register-Wrap {
        padding-top: 5px;
    }
    .form-group-doctor {
        padding-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .form-group {
        margin-bottom: 0.25rem;
    }
    .change-avatar .profile-img img {
        height: 82px;
        width: 91px;
    }
}

@media only screen and (max-width:1440px) {
    .content.doctor-content {
        min-height: auto;
        padding-top: 10px;
    }
    .login-right {
        padding: 10px 10px 0px 10px;
    }
    .doctor-register-Wrap .card-doctor {
        padding: 0px 20px 10px 20px;
    }
    .doctor-register-Wrap form>.form-group {
        margin-bottom: 0 !important;
    }
    .doctor-register-Wrap form>.form-group>.card {
        margin-bottom: 10px !important;
    }
    .login-header {
        margin-bottom: 10px;
    }
    .gmap_canvas iframe {
        max-height: 422px;
    }
}

@media only screen and (max-width:1400px) {
    .gmap_canvas iframe {
        max-height: 350px;
    }
}