<div class="breadcrumb-bar" id="top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <h4>
                            <li class="breadcrumb-item"><a [routerLink]="['/index']">Home&nbsp;</a></li>
                        </h4>
                        <h4>
                            <li class="breadcrumb-item active" aria-current="page">/&nbsp;Become a Service Provider</li>
                        </h4>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="content doctor-content">
    <div class="container doctor-register-Wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12 col-lg-12 login-right doctor-register-Wrap">
                            <div class="login-header">
                                <h3 class="doctor-title">Register now and work with us.</h3>
                                <form [formGroup]="serviceProvideForm" (ngSubmit)="onSubmit()">
                                    <div *ngIf="step1" id="1" class="form-group">
                                        <!-- Required Information -->
                                        <div class="card">
                                            <div class="card-body card-doctor">
                                                <h4 class="card-title-doctor"></h4>
                                                <div class="row form-row doctor-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label><b>Where would you like to work? </b><span
                                                                    class="text-danger">*</span></label>
                                                            <input class="form-control" ngx-google-places-autocomplete placeholder="Enter Location" formControlName="PlaceName" [ngClass]="{ 'is-invalid': f.PlaceName.touched && f.PlaceName.errors }" />
                                                            <div *ngIf="f.PlaceName.touched && f.PlaceName.errors" class="invalid-feedback">
                                                                <div *ngIf="f.PlaceName.errors.required">Location is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label><b>What type of service would you like to provide?
                                                                </b><span class="text-danger">*</span></label>
                                                            <select class="form-control PlaceHolderColor" formControlName="CategoryName" [ngClass]="{ 'is-invalid': f.CategoryName.touched && f.CategoryName.errors }">
                                                                <option value="" disabled selected>Select Category
                                                                </option>
                                                                <option>Static</option>
                                                                <option>Static</option>
                                                            </select>
                                                            <div *ngIf="f.CategoryName.touched && f.CategoryName.errors" class="invalid-feedback">
                                                                <div *ngIf="f.CategoryName.errors.required">Category is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="map-frame">
                                                    <div class="mapouter">
                                                        <div class="gmap_canvas">
                                                            <iframe id="iframe" width="800px" height="500px" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?&output=embed&q=United+Kingdom&ftid=0x25a3b1142c791a9:0xc4f8a0433288257a">
                                                            </iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-margin">
                                            <button type="submit" (click)="next('2')" [disabled]="NestStep1()" class="btn btn-primary">Next</button>&nbsp;
                                            <button type="reset" class="btn btn-primary Resetbtn">Reset</button>
                                        </div>
                                        <!-- /Required Information -->
                                    </div>
                                    <div *ngIf="step2" id="2" class="form-group">
                                        <!-- Required Information -->
                                        <div class="card-register">
                                            <div class="card-body doctor-register-Wrap">
                                                <h4 class="card-title-doctor">Tell us about yourself</h4>
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="change-avatar">
                                                                <div class="profile-img" *ngIf="Display_Profile != null">
                                                                    <img [src]="Display_Profile">
                                                                </div>
                                                                <div class="profile-img" *ngIf="Display_Profile == null">
                                                                    <img src="assets/img/imagenotfound.png" alt="User Image">
                                                                </div>
                                                                <div class="upload-img" *ngIf="Display_Profile == null">
                                                                    <div class="change-photo-btn">
                                                                        <span><i class="fa fa-upload"></i> Upload
                                                                            Photo</span>
                                                                        <input type="file" class="upload" #attachments accept="image/jpeg, image/png, image/jpg," (change)="onSelectImagePathFile($event,'DoctorProfilePic')">
                                                                    </div>
                                                                    <small class="form-text text-muted">Allowed JPG, PNG
                                                                        or PDF. Max size of 2MB</small>
                                                                </div>
                                                                <div class="upload-img" *ngIf="Display_Profile != null">
                                                                    <div class="change-photo-btn change-remove-btn">
                                                                        <span><i class="fas fa-file-invoice"></i> Change
                                                                            Photo </span>
                                                                        <input type="file" class="upload" accept="image/jpeg, image/png, image/jpg," (change)="onSelectImagePathFile($event,'DoctorProfilePic')">
                                                                    </div>
                                                                </div>&nbsp;&nbsp;
                                                                <span *ngIf="Display_Profile != null">
                                                                    <button class="btn btn-danger warning"
                                                                        (click)="removeSelectedFile('DoctorProfilePic')"><i
                                                                            class="far fa-trash-alt"></i> Remove Photo
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor">
                                                            <label>Frist Name <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="Frist Name" formControlName="FristName" [ngClass]="{ 'is-invalid': f.FristName.touched && f.FristName.errors }" />
                                                            <div *ngIf="f.FristName.touched && f.FristName.errors" class="invalid-feedback">
                                                                <div *ngIf="f.FristName.errors.required">First Name is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor">
                                                            <label>Last Name<span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName" [ngClass]="{ 'is-invalid': f.LastName.touched && f.LastName.errors }" />
                                                            <div *ngIf="f.LastName.touched && f.LastName.errors" class="invalid-feedback">
                                                                <div *ngIf="f.LastName.errors.required">Last Name is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor">
                                                            <label>Email <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="Email" formControlName="EmailAddress" [ngClass]="{ 'is-invalid': f.EmailAddress.touched && f.EmailAddress.errors }" />
                                                            <div *ngIf="f.EmailAddress.touched && f.EmailAddress.errors" class="invalid-feedback">
                                                                <div *ngIf="f.EmailAddress.errors.required">Email is required
                                                                </div>
                                                                <div *ngIf="f.EmailAddress.errors.pattern">Email must be a valid email address</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor">
                                                            <label>Password <span class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="password" class="form-control" [type]="fieldTextTypepassWord ? 'text' : 'password'" placeholder="Password" formControlName="Password" [ngClass]="{ 'is-invalid': f.Password.touched && f.Password.errors }" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="fa fa-eye-slash"
                                                                            [ngClass]="{'fa-eye-slash': !fieldTextTypepassWord,'fa-eye': fieldTextTypepassWord}"
                                                                            (click)="toggleFieldTextTypePassWord()"></i>
                                                                    </span>
                                                                </div>
                                                                <div *ngIf="f.Password.touched && f.Password.errors" class="invalid-feedback">
                                                                    <div *ngIf="f.Password.errors.required">Password is required
                                                                    </div>
                                                                    <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor">
                                                            <label>Phone Number<span
                                                                    class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" maxlength="10" placeholder="Phone Number" (keypress)="numberOnly($event)" formControlName="PhoneNumber" [ngClass]="{ 'is-invalid': f.PhoneNumber.touched && f.PhoneNumber.errors }">
                                                            <div *ngIf="f.PhoneNumber.touched && f.PhoneNumber.errors" class="invalid-feedback">
                                                                <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required</div>
                                                                <div *ngIf="f.PhoneNumber.errors.minlength">Phone Number must be at least 10 characters</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor mb-0">
                                                            <label>Date of Birth<span
                                                                    class="text-danger">*</span></label>
                                                            <input type="date" class="form-control" placeholder="DD/MM/YY" formControlName="DOB" min="{{minDobString}}" max="{{maxDobString}}" required [ngClass]="{ 'is-invalid': submitted && f.DOB.errors }" />
                                                            <div *ngIf="DOB.touched" class="invalid-feedback test-class">
                                                                {{ getErrorDOB() }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor">
                                                            <label>Gender<span class="text-danger">*</span></label>
                                                            <select class="form-control PlaceHolderColor" formControlName="Gender" [ngClass]="{ 'is-invalid': f.Gender.touched && f.Gender.errors }">
                                                                <option value="" disabled selected>Select Gender
                                                                </option>
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                            </select>
                                                            <div *ngIf="f.Gender.touched && f.Gender.errors" class="invalid-feedback">
                                                                <div *ngIf="f.Gender.errors.required">Gender is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group-doctor mb-0">
                                                            <label>DBS Reference Number<span
                                                                    class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" maxlength="12" (keypress)="numberOnly($event)" placeholder="DBS Reference Number" formControlName="DBS" [ngClass]="{ 'is-invalid': f.DBS.touched && f.DBS.errors }">
                                                            <div *ngIf="f.DBS.touched && f.DBS.errors" class="invalid-feedback">
                                                                <div *ngIf="f.DBS.errors.required">DBS is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Required Information -->
                                        <div class="btn-margin-step2">
                                            <button type="submit" (click)="previous('1')" class="btn btn-primary">Previous</button>&nbsp;
                                            <button (click)="next('3')" [disabled]="NestStep2()" class="btn btn-primary">Next</button>&nbsp;
                                            <button type="reset" class="btn btn-primary Resetbtn" (click)="resetProfile()">Reset</button>
                                        </div>
                                        <!-- /Required Information -->
                                    </div>
                                    <div *ngIf="step3" id="3" class="form-group">
                                        <!-- About Me -->
                                        <div class="card card-register">
                                            <div class="card-body doctor-register-Wrap">
                                                <h4 class="card-title-doctor">Write about your service and experience
                                                </h4>
                                                <div class="form-group mb-0">
                                                    <label>Biography <span class="text-danger">*</span></label>
                                                    <textarea class="form-control" rows="1" maxlength="500" formControlName="AboutMe" [ngClass]="{ 'is-invalid': f.AboutMe.touched && f.AboutMe.errors }"></textarea>
                                                    <div *ngIf="f.AboutMe.touched && f.AboutMe.errors" class="invalid-feedback">
                                                        <div *ngIf="f.AboutMe.errors.required">Biography is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /About Me -->
                                        <!-- Upload Detail -->
                                        <div class="card contact-card card-register">
                                            <div class="card-body doctor-register-Wrap">
                                                <h4 class="card-title-doctor">Upload Your Documents</h4>
                                                <div class="row form-row">
                                                    <div class="col-md-6">
                                                        <div class="change-avatar">
                                                            <div class="profile-img" *ngIf="Display_CV != null">
                                                                <img [src]="Display_CV" *ngIf="!FileExtCV">
                                                                <img src="assets/img/PDF.png" *ngIf="FileExtCV">
                                                            </div>
                                                            <div class="profile-img" *ngIf="Display_CV == null">
                                                                <img src="assets/img/imagenotfound.png" alt="User Image">
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_CV == null">
                                                                <div class="change-photo-btn">
                                                                    <span><i class="fa fa-upload"></i> Upload CV </span>
                                                                    <input type="file" class="upload" formControlName="CV" #attachments accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'CV')">
                                                                </div>
                                                                <small class="form-text text-muted">Allowed JPG, PNG or
                                                                    PDF. Max size of 2MB</small>
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_CV != null">
                                                                <div class="change-photo-btn change-remove-btn">
                                                                    <span><i class="fas fa-file-invoice"></i> Change
                                                                        Photo </span>
                                                                    <input type="file" class="upload" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'CV')">
                                                                </div>
                                                            </div>&nbsp;&nbsp;
                                                            <span *ngIf="Display_CV != null">
                                                                <button class="btn btn-danger warning"
                                                                    (click)="removeSelectedFile('CV')"><i
                                                                        class="far fa-trash-alt"></i> Remove Photo
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="change-avatar">
                                                            <div class="profile-img" *ngIf="Display_PassPort != null">
                                                                <img [src]="Display_PassPort" *ngIf="!FileExtPassPort">
                                                                <img src="assets/img/PDF.png" *ngIf="FileExtPassPort">
                                                            </div>
                                                            <div class="profile-img" *ngIf="Display_PassPort == null">
                                                                <img src="assets/img/imagenotfound.png" alt="User Image">
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_PassPort == null">
                                                                <div class="change-photo-btn">
                                                                    <span><i class="fa fa-upload"></i> Upload Passport
                                                                    </span>
                                                                    <input type="file" class="upload" formControlName="PassPort" #attachments accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'PassPort')">
                                                                </div>
                                                                <small class="form-text text-muted">Allowed JPG, PNG or
                                                                    PDF. Max size of 2MB</small>
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_PassPort != null">
                                                                <div class="change-photo-btn change-remove-btn">
                                                                    <span><i class="fas fa-file-invoice"></i> Change
                                                                        Photo </span>
                                                                    <input type="file" class="upload" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'PassPort')">
                                                                </div>
                                                            </div>&nbsp;&nbsp;
                                                            <span *ngIf="Display_PassPort != null">
                                                                <button class="btn btn-danger warning"
                                                                    (click)="removeSelectedFile('PassPort')"><i
                                                                        class="far fa-trash-alt"></i> Remove Photo
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="change-avatar">
                                                            <div class="profile-img" *ngIf="Display_DrivingLicence != null">
                                                                <img [src]="Display_DrivingLicence" *ngIf="!FileExtDrivingLicence">
                                                                <img src="assets/img/PDF.png" *ngIf="FileExtDrivingLicence">
                                                            </div>
                                                            <div class="profile-img" *ngIf="Display_DrivingLicence == null">
                                                                <img src="assets/img/imagenotfound.png" alt="User Image">
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_DrivingLicence == null">
                                                                <div class="change-photo-btn">
                                                                    <span><i class="fa fa-upload"></i> Upload Driving
                                                                        license </span>
                                                                    <input type="file" class="upload" #attachments formControlName="DrivingLicence" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'DrivingLicence')">
                                                                </div>
                                                                <small class="form-text text-muted">Allowed JPG, PNG or
                                                                    PDF. Max size of 2MB</small>
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_DrivingLicence != null">
                                                                <div class="change-photo-btn change-remove-btn">
                                                                    <span><i class="fas fa-file-invoice"></i> Change
                                                                        Photo </span>
                                                                    <input type="file" class="upload" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'DrivingLicence')">
                                                                </div>
                                                            </div>&nbsp;&nbsp;
                                                            <span *ngIf="Display_DrivingLicence != null">
                                                                <button class="btn btn-danger warning"
                                                                    (click)="removeSelectedFile('DrivingLicence')"><i
                                                                        class="far fa-trash-alt"></i> Remove Photo
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="change-avatar">
                                                            <div class="profile-img" *ngIf="Display_ProofAddress != null">
                                                                <img [src]="Display_ProofAddress" *ngIf="!FileExtProofAddress">
                                                                <img src="assets/img/PDF.png" *ngIf="FileExtProofAddress">
                                                            </div>
                                                            <div class="profile-img" *ngIf="Display_ProofAddress == null">
                                                                <img src="assets/img/imagenotfound.png" alt="User Image">
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_ProofAddress == null">
                                                                <div class="change-photo-btn">
                                                                    <span><i class="fa fa-upload"></i> Upload Proof of
                                                                        address </span>
                                                                    <input type="file" class="upload" #attachments formControlName="ProofofAddress" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'ProofofAddress')">
                                                                </div>
                                                                <small class="form-text text-muted">Allowed JPG, PNG or
                                                                    PDF. Max size of 2MB</small>
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_ProofAddress != null">
                                                                <div class="change-photo-btn change-remove-btn">
                                                                    <span><i class="fas fa-file-invoice"></i> Change
                                                                        Photo </span>
                                                                    <input type="file" class="upload" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'ProofofAddress')">
                                                                </div>
                                                            </div>&nbsp;&nbsp;
                                                            <span *ngIf="Display_ProofAddress != null">
                                                                <button class="btn btn-danger warning"
                                                                    (click)="removeSelectedFile('ProofofAddress')"><i
                                                                        class="far fa-trash-alt"></i> Remove Photo
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="change-avatar">
                                                            <div class="profile-img" *ngIf="Display_DBSCertificate != null">
                                                                <img [src]="Display_DBSCertificate" *ngIf="!FileExtDBSCertificate">
                                                                <img src="assets/img/PDF.png" *ngIf="FileExtDBSCertificate">
                                                            </div>
                                                            <div class="profile-img" *ngIf="Display_DBSCertificate == null">
                                                                <img src="assets/img/imagenotfound.png" alt="User Image">
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_DBSCertificate == null">
                                                                <div class="change-photo-btn">
                                                                    <span><i class="fa fa-upload"></i> Upload DBS
                                                                        Certificate </span>
                                                                    <input type="file" class="upload" #attachments formControlName="DBSCertificate" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'DBSCertificate')">
                                                                </div>
                                                                <small class="form-text text-muted">Allowed JPG, PNG or
                                                                    PDF. Max size of 2MB</small>
                                                            </div>
                                                            <div class="upload-img" *ngIf="Display_DBSCertificate != null">
                                                                <div class="change-photo-btn change-remove-btn">
                                                                    <span><i class="fas fa-file-invoice"></i> Change
                                                                        Photo </span>
                                                                    <input type="file" class="upload" accept="image/jpeg, image/png, image/jpg,.pdf" (change)="onSelectImagePathFile($event,'DBSCertificate')">
                                                                </div>
                                                            </div>&nbsp;&nbsp;
                                                            <span *ngIf="Display_DBSCertificate != null">
                                                                <button class="btn btn-danger warning"
                                                                    (click)="removeSelectedFile('DBSCertificate')"><i
                                                                        class="far fa-trash-alt"></i> Remove Photo
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Upload Detail -->
                                        <div class="btn-margin-step2">
                                            <button (click)="previous('2')" class="btn btn-primary">Previous</button>&nbsp;
                                            <button (click)="next('4')" [disabled]="NestStep3()" class="btn btn-primary">Next</button>&nbsp;
                                            <button type="reset" class="btn btn-primary Resetbtn" (click)="resetAllUploadFiles()">Reset</button>
                                        </div>
                                    </div>
                                    <div *ngIf="step4" id="3" class="form-group">
                                        <!-- Required Information -->
                                        <!-- Clinic Info -->
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Enter Price Per Session<span class="text-danger">*</span></h4>
                                                <div class="row custom_price_cont" id="custom_price_cont">
                                                    <div class="col-md-4">
                                                        <input type="text" maxlength="5" min="0" class="form-control" placeholder="Enter Amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" formControlName="BasicPrice" [ngClass]="{ 'is-invalid': f.BasicPrice.touched && f.BasicPrice.errors }"
                                                        />
                                                        <div *ngIf="f.BasicPrice.touched && f.BasicPrice.errors" class="invalid-feedback">
                                                            <div *ngIf="f.BasicPrice.errors.required">Basic Price is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Bank Info (optional)</h4>
                                                <div class="row form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-0">
                                                            <label>Account Holders Name</label>
                                                            <input type="text" class="form-control" placeholder="Account Holders Name" formControlName="AccountHolderName" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Account No
                                                            </label>
                                                            <input type="text" class="form-control" (keypress)="numberOnly($event)" formControlName="AccountNo" placeholder="Account No">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Bank Name </label>
                                                            <input type="text" class="form-control" placeholder="Bank Name" formControlName="BankName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Sort Code </label>
                                                            <input type="text" class="form-control" formControlName="SortCode" placeholder="Sort Code">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Clinic Info -->
                                        <div class="btn-margin-step2">
                                            <button (click)="previous('3')" class="btn btn-primary">Previous</button>&nbsp;
                                            <button (click)="next('5')" class="btn btn-primary" [disabled]="NestStep4()">Next</button>&nbsp;
                                            <button type="reset" class="btn btn-primary Resetbtn">Reset</button>
                                        </div>
                                    </div>
                                    <div *ngIf="step5" id="3" class="form-group">
                                        <!-- Success Card -->
                                        <div class="card success-card">
                                            <div class="card-body">
                                                <div class="success-cont">
                                                    <i class="fas fa-check"></i>
                                                    <h3 class="sbtfont">Thank you so much <strong>Name</strong> for your response.</h3>
                                                    <p> Now you can click here to submit your details and wait till our team will verify.you can get a success email after verification then you can start your work with us.</p>
                                                    <button type="submit" class="btn btn-primary view-inv-btn box">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="step5-btn">
                                            <button (click)="previous('4')" class="btn btn-primary"><a></a>Previous</button>&nbsp;
                                        </div>
                                        <!-- /Success Card -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>