<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reviews</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Reviews</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <!-- <app-doctor-sidebar></app-doctor-sidebar> -->
            </div>
            <!-- /Profile Sidebar -->
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="doc-review review-listing">

                    <!-- Review Listing -->
                    <ul class="comments-list">

                        <!-- Comment List -->
                        <li>
                            <div class="comment">
                                <img class="avatar rounded-circle" alt="User Image" src="assets/img/imagenotfound.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author">Richard Wilson</span>
                                        <span class="comment-date">Reviewed 2 Days ago</span>
                                        <div class="review-count rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <p class="recommended"><i class="far fa-thumbs-up"></i> I recommend the doctor</p>
                                    <p class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Curabitur non nulla sit amet nisl tempus
                                    </p>
                                    <div class="comment-reply">
                                        <a class="comment-btn">
                                            <i class="fas fa-reply"></i> Reply
                                        </a>
                                        <p class="recommend-btn">
                                            <span>Recommend?</span>
                                            <a href="#" class="like-btn">
                                                <i class="far fa-thumbs-up"></i> Yes
                                            </a>
                                            <a href="#" class="dislike-btn">
                                                <i class="far fa-thumbs-down"></i> No
                                            </a>
                                        </p>
                                    </div>
                                    <hr class="custome-review">
                                </div>
                            </div>
                        </li>
                        <!-- /Comment List -->
                    </ul>
                    <!-- /Comment List -->

                </div>
            </div>
        </div>
    </div>
</div>