@import '../node_modules/ngx-ui-switch/ui-switch.component.css';
.breadcrumb-bar {
    background-color: #368283;
    padding: 15px 0;
}

.breadcrumb-bar .breadcrumb-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin: 5px 0 0;
}

.page-breadcrumb ol {
    background-color: transparent;
    font-size: 12px;
    margin-bottom: 0;
    padding: 0;
    margin-top: 6px;
}

.page-breadcrumb ol li a {
    color: #fff;
}

.page-breadcrumb ol li.active {
    color: #fff;
}

/*-----------------------
14. How-it work for user
-----------------------*/

.Scroll {
    margin-top: 8%;
    margin-bottom: 8%;
}

.Scroll1 {
    margin-bottom: 5%;
}

.panel-body1 {
    padding-left: 1%;
    padding-right: 1%;
    border: 1px solid #d2dde9;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.panel, .panel-body {
    border-radius: 0px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #d2dde9;
    margin-bottom: 15px;
    box-shadow: 5px 10px -1px silver;
}

.panel-group .panel-heading {
    padding: 0;
}

.panel-group .panel-heading a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    position: relative;
}

.panel-group .panel-heading a:after {
    content: '-';
    float: right;
}

.panel-group .panel-heading a.collapsed:after {
    content: '+';
}

.zoom {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.zoom:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px silver;
}

.zoom-box {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    display: block;
    text-decoration: none;
    position: relative;
}

.serviceprovider {
    margin-top: 20px;
}

/*----------------------
	47. About-Us
-----------------------*/

.about-title {
    margin-top: 2%;
}

.about-padding {
    margin-top: 2%;
}

/*---------------------
	14. Login
-----------------------*/

.img-fluid-login {
    max-width: 100%;
    height: auto;
}

.account-page {
    background-color: #fff;
}

.account-page .content {
    padding: 50px 0;
}

@media (min-width: 992px) {
    .col-lg-5-contact {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        margin-left: -24px;
    }
}

.login-right-table {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 90px 30px 90px 30px;
}

.login-header {
    margin-bottom: 20px;
}

.login-header p {
    margin-bottom: 0;
}

.login-header h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.login-header h3 a {
    color: #61e0c6;
    float: right;
    font-size: 15px;
    margin-top: 2px;
}

.login-right .dont-have {
    color: #3d3d3d;
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 5px;
}

.login-right .dont-have a {
    color: #61e0c6;
}

.login-btn {
    font-size: 18px;
    font-weight: 500;
}

.login-or {
    color: #d4d4d4;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

.patientlogin-flag {
    margin-right: 5px;
    border: 1px solid;
}
/*-----------------------
14. Remove-btn
-----------------------*/

.warning {
    margin-bottom: 23px !important;
    border: none;
    background-color: #ff0100;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 0 auto;
    padding: 10px 15px;
    position: relative;
    transition: .3s;
    text-align: center;
    width: 135px;
}

.change-remove-btn {
    margin-bottom: 23px !important;
    background-color: #61e0c6;
}
