<!-- Main Wrapper -->
<div class="main-wrapper">
    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Checkout</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="card">
                        <div class="card-body">

                            <!-- Checkout Form -->
                            <form [formGroup]="CheckoutForm" (ngSubmit)="onSubmit()">
                                <!-- Personal Information -->
                                <div class="info-widget">
                                    <h4 class="card-title checkout">Personal Information</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group card-label">
                                                <label>First Name</label>
                                                <input class="form-control" type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }">
                                                <div *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                                                    <div *ngIf="f.firstName.errors.required">First Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group card-label">
                                                <label>Last Name</label>
                                                <input class="form-control" type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }">
                                                <div *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group card-label">
                                                <label>Email</label>
                                                <input class="form-control" type="email" formControlName="EmailAddress" [ngClass]="{ 'is-invalid': f.EmailAddress.touched && f.EmailAddress.errors }">
                                                <div *ngIf="f.EmailAddress.touched && f.EmailAddress.errors" class="invalid-feedback">
                                                    <div *ngIf="f.EmailAddress.errors.required">Email is required</div>
                                                    <div *ngIf="f.EmailAddress.errors.pattern">Email must be a valid email address
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group card-label">
                                                <label>Phone</label>
                                                <input class="form-control" type="text" maxlength="10" (keypress)="numberOnly($event)" formControlName="PhoneNumber" [ngClass]="{ 'is-invalid': f.PhoneNumber.touched && f.PhoneNumber.errors }">
                                                <div *ngIf="f.PhoneNumber.touched && f.PhoneNumber.errors" class="invalid-feedback">
                                                    <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required
                                                    </div>
                                                    <div *ngIf="f.PhoneNumber.errors.minlength">Phone Number must be at least 10 characters</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group card-label">
                                                <label>Date Of Birth</label>
                                                <input type="date" class="form-control" placeholder="DD/MM/YY" formControlName="DateofBirth" [ngClass]="{ 'is-invalid': f.DateofBirth.touched && f.DateofBirth.errors }" />
                                                <div *ngIf="f.DateofBirth.touched && f.DateofBirth.errors" class="invalid-feedback">
                                                    <div *ngIf="f.DateofBirth.errors.required">Date of Birth is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group card-label">
                                                <label>Address</label>
                                                <input class="form-control" type="text" formControlName="Address" [ngClass]="{ 'is-invalid': f.Address.touched && f.Address.errors }">
                                                <div *ngIf="f.Address.touched && f.Address.errors" class="invalid-feedback">
                                                    <div *ngIf="f.Address.errors.required">Address is required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Personal Information -->

                                <div class="payment-widget">
                                    <h4 class="card-title">Payment Method</h4>
                                    <div class="payment-list">
                                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                    </div>
                                    <!-- Terms Accept -->
                                    <div class="terms-accept">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="terms_accept" formControlName="ReadAndAccept" [ngClass]="{ 'is-invalid': f.ReadAndAccept.touched && f.ReadAndAccept.errors }">
                                            <label class="label" for="terms_accept">I have read and accept <a
                                                    href="#">Terms &amp;
                                                    Conditions</a></label>
                                            <div *ngIf="f.ReadAndAccept.touched && f.ReadAndAccept.errors" class="invalid-feedback">
                                                <div *ngIf="f.ReadAndAccept.errors.required"> I Have Read and Accept is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Terms Accept -->

                                    <!-- Submit Section -->
                                    <div class="submit-section mt-4">
                                        <button type="submit" class="btn btn-primary submit-btn" [routerLink]="['/book-home-visit/booked-successfully']">Confirm and
                                            Pay</button>
                                    </div>
                                    <!-- /Submit Section -->

                                </div>
                            </form>
                            <!-- /Checkout Form -->
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 theiaStickySidebar">

                    <!-- Booking Summary -->
                    <div class="card booking-card">
                        <div class="card-header">
                            <h4 class="card-title">Booking Summary</h4>
                        </div>
                        <div class="card-body">
                            <!-- Booking Doctor Info -->
                            <div class="booking-doc-info">
                                <a href="doctor-profile.html" class="booking-doc-img">
                                    <img src="assets/img/imagenotfound.png" alt="User Image">
                                </a>
                                <div class="booking-info">
                                    <h4><a href="doctor-profile.html">Dr. Darren Elder</a></h4>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">35</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Booking Doctor Info -->

                            <div class="booking-summary">
                                <div class="booking-item-wrap">
                                    <ul class="booking-date">
                                        <li>Date <span>16 Nov 2019</span></li>
                                        <li>Time <span>10:00 AM</span></li>
                                    </ul>
                                    <ul class="booking-fee">
                                        <li>Consulting Fee <span>$100</span></li>
                                    </ul>
                                    <div class="booking-total">
                                        <ul class="booking-total-list">
                                            <li>
                                                <span>Total</span>
                                                <span class="total-cost">$160</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Booking Summary -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- /Main Wrapper -->